<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="makepatrol" method="post">

    <label>강아지 이름</label><br>
    <input type="text" id="name" name="name" ><br>

    <label>나이</label><br>
    <input type="number" id="age" name="age"><br>

    <label>품종</label><br>
    <input type="text" id="breed" name="breed"><br>

    <label>주소</label><br>
    <input type="text" id="location" name="location"><br>

    <input type="submit" value="신청">

</form>

</body>
</html>