<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>
<body>

<div class="patroldiv" id="patroldiv">

</div>



<script>

    $(document).ready(function(){
        $.ajax({
        type:'get',
        url: "/patrol/findAllPatrol",
        success : function(data){

            for(let index in data){

                $('#patroldiv').append(
                    $('<div>').prop({
                        id: 'patrol' + index,
                        className: 'patrol'
                        }).attr("onclick", "")
                    );
                    $('#' + 'patrol' + index).append(
                        '<b>' + data[index].name + '</b><br>'
                    );
                    $('#' + 'patrol' + index).append(
                        '<sub>' + data[index].age + '</sub><br>'
                    );
                    $('#' + 'patrol' + index).append(
                        '<sub>' + data[index].breed + '</sub>'
                    );
            }

        },
        error: function (xhr){
            console.log(xhr);
        }
        }); // $.ajax()
    }
</script>

</body>
</html>