<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">

    <title>Title</title>

</head>
<body>

<menu th:replace="fragments/head :: menu"></menu>

<main>

    <div class="container mt-5">



        <h1 class="mb-4 text-center">🐾순찰경로 조회🐾</h1>
        <h5 class="mb-4 text-center">우리 아이의 발자취를 기록해보세요🐶</h5>

    <div id="patroldiv">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    경로번호
                </th>
                <th>
                    일지번호
                </th>
                <th>
                    순찰대번호
                </th>
                <th>
                    총거리
                </th>
                <th>
                    삭제
                </th>
            </tr>
            </thead>
            <tbody id="placeTbody" class="table-group-divider">

            </tbody>
        </table>
    </div>
    <div>
        <button class="btn btn-primary float-end" id="goPatrolRecordPlaceInsert" sec:authorize="isAuthenticated()">생성</button>
        <nav aria-label="Page navigation" class="mt-4" style="padding-left: 110px;">
            <ul class="pagination justify-content-center" id="pageItems">

            </ul>
        </nav>
    </div>

    </div>

</main>

<menu th:replace="fragments/head :: footer"></menu>

<script>
    var urlParams = new URL(location.href).searchParams;
    var page = urlParams.get('page');

    var pageFirst;
    var pageLast;
    var totalPages;
    var totalElements;

    $(document).ready(function(){

        $('#goPatrolRecordPlaceInsert').click(function(){
            location.href = "/patrolRecordPlace/patrolRecordPlaceInsert";
        });

        findallplace();

    }); // ready()

    function findallplace(){
        $.ajax({
            url:"/patrolRecordPlace/findAllPlace",
            data : {
		        page : page
	        },
            success: function (data){

            console.log(data);

            pageFirst = data.first;
            pageLast = data.last;
            totalPages = data.totalPages;
            totalElements = data.totalElements;

            var contentList = data.content;

            $('#pageItems').empty();

            let placeInfo="";

            for(let i=0;i<contentList.length;i++){
                target = JSON.stringify(contentList[i]);
                placeInfo+="<tr>";
                placeInfo+="<td>"+contentList[i].precordPlaceNo+"</td>";
                placeInfo+="<td>"+contentList[i].precordNo+"</td>";
                placeInfo+="<td>"+contentList[i].patrolNo+"</td>";
                placeInfo+="<td>"+contentList[i].precordTotal+"</td>";
                placeInfo+="<td>" + "<button onclick='placedelete(" + target + ")' class='btn btn-danger'>삭제</button>" + "</td>"
                placeInfo+="</tr>";

            }

            $("#placeTbody").html(placeInfo);

            //페이징 시작
            if(page > 9){
                $('#pageItems').append(
                    '<li class="page-item"><a class="page-link" href="/patrolRecordPlace/patrolRecordPlace?page=0">&#166;&laquo;</a></li>'
                );
            }

            if(!pageFirst){
                pagePrevious = Number(page) - 1;
                $('#pageItems').append(
                    '<li class="page-item"><a class="page-link" href="/patrolRecordPlace/patrolRecordPlace?page=' + pagePrevious + '" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>'
                );
            }


            if(page > 9){
                pageStart = parseInt( page / 10 ) * 10;
                for(let i = pageStart; i< pageStart + 10; i++){
	                if(i < totalPages){
	                    pageNext = Number(i) + 1;
	                    if(page != i){
	                        $('#pageItems').append(
                                '<li class="page-item"><a   class="page-link"href="/patrolRecordPlace/patrolRecordPlace?page=' + i +'">' + pageNext +  '</a></li>'
                            );
	                    }
	                    else{
	                        $('#pageItems').append(
                                '<li class="page-item active"><a class="page-link">' + pageNext + '</a></li>'
                            );
	                    }
	                }
                }
            }
            else{
                for(let i = 0; i<10; i++){
	                if(i < totalPages){
	                    pageNext = Number(i) + 1;
	                    if(page != i){
	                        $('#pageItems').append(
                                '<li class="page-item"><a   class="page-link"href="/patrolRecordPlace/patrolRecordPlace?page=' + i +'">' + pageNext +  '</a></li>'
                            );
	                    }
	                    else{
	                        $('#pageItems').append(
                                '<li class="page-item active"><a class="page-link">' + pageNext + '</a></li>'
                            );
	                    }
	                }
                }
            }


            if(!pageLast){
                pageNext = Number(page) + 1;
                $('#pageItems').append(
                    '<li class="page-item"><a class="page-link" href="/patrolRecordPlace/patrolRecordPlace?page=' + pageNext + '" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>'
                );
            }

            pageT = parseInt( page / 10 ) * 10;
            totalPagesT = parseInt( totalPages / 10 ) * 10;

            endTarget = Number(totalPagesT);

            if((totalPages > 10)&&(pageT != totalPagesT)){
                $('#pageItems').append(
                    '<li class="page-item"><a class="page-link" href="/patrolRecordPlace/patrolRecordPlace?page=' + endTarget + '">&raquo;&#166;</a></li>'
                );
            }

            },
            error: function (xhr){
               console.log(xhr);
            }
        })
    }

    function placedelete(place) {
        $.ajax({
            url:"/patrolRecordPlace/deletePlace",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(place),
            success: function (data){
                findallplace();
            },
            error: function (xhr){
                console.log(xhr);
            }
        })
    }
</script>

</body>
</html>