<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

    <title>Title</title>

</head>
<body>

<menu th:replace="fragments/head :: menu"></menu>

<main>

    <div class="container mt-5">

    <h1 class="mb-4 text-center">순찰경로 생성</h1>

    <input type="hidden" id="hidden_lat" value="">
    <input type="hidden" id="hidden_lng" value="">

        <div class="d-flex justify-content-center">
            <div>
                <div id="map" style="width:1000px;height:600px;"></div>

                <div class="d-flex">
                    <div style="margin-left:auto;"></div>
                    <button class="btn btn-info" id="btnstart">시작</button>
                    <button class="btn btn-danger" id="btnend">종료</button>
                    <button class="btn btn-secondary" id="btnclear">지우기</button>
                    <button class="btn btn-success" id="btnmake">생성</button>
                </div>
            </div>
        </div>



    </div>

</main>

<menu th:replace="fragments/head :: footer"></menu>

<!-- Kakao Map API -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a76def1c0c0dd8e389a263fe93ef2974"></script>

<script>
    var loadingFlag = 0;
    var interval;
    var tracepoint = [];

    var linePath = [];

    setLocation();

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
        var mapTypeControl = new kakao.maps.MapTypeControl();

        // 지도 타입 컨트롤을 지도에 표시합니다
        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

        // 지도에 표시할 선을 생성합니다
        var polyline = new kakao.maps.Polyline({
        path: linePath, // 선을 구성하는 좌표배열 입니다
        strokeWeight: 5, // 선의 두께 입니다
        strokeColor: '#FFAE00', // 선의 색깔입니다
        strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
        strokeStyle: 'solid' // 선의 스타일입니다
        });

        polyline.setMap(map);

        // 지도에 클릭 이벤트를 등록합니다
        // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
        kakao.maps.event.addListener(map, 'click', function(mouseEvent) {

            // 클릭한 위도, 경도 정보를 가져옵니다
            var latlng = mouseEvent.latLng;

            var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고, ';
            message += '경도는 ' + latlng.getLng() + ' 입니다';

            console.log("위치 : " + latlng.getLat() + "/" + latlng.getLng());

            var PlacePointDTO = {
                latitude: latlng.getLat(),
                longitude: latlng.getLng()
            };



            tracepoint.push(PlacePointDTO);
            linePath.push(new kakao.maps.LatLng(latlng.getLat(), latlng.getLng()));
            polyline.setPath(linePath);

            console.log("총 길이: " + polyline.getLength());
        });


    $(document).ready(function(){

        $.ajax({
	 			type: "get",
	 			url : "/patrol/patrolCheck",
	 			success: function(results){
	 				if(results == 0){
	 				    alert("순찰 기록을 남기려면 순찰 대원이어야 합니다");
	 				    location.replace("/patrol/patrol");
	 				}
	 			},
	 			error: function(data){
	 				alert("에러 발생. " + data);
	 			}
	 	})


        $('#btnstart').click(function(){
            console.log("Interval 시작");
            traceLocation();
        });

        $('#btnend').click(function(){
            console.log("Interval 종료");
            traceStop();
        });

        $('#btnclear').click(function(){
            console.log("지우기");

            interval = null;

            tracepoint = [];
            linePath = [];

            polyline.setPath(linePath);
        });

        $('#btnmake').click(function(){
            console.log(tracepoint);
            if(tracepoint.length != 0){
                $.ajax({
	                url: "/patrolRecordPlace/placeInsert",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(tracepoint),
                    success: function(){
                        goPatrolRecordPlace();
                    },
                    error: function(err){
    	                console.log(err);
                    },
                })
            }
        });

    }); // ready()

    function goPatrolRecordPlace() {
        location.href = "/patrolRecordPlace/patrolRecordPlace";
    }


    //지도 이동
    function mapMove() {
        homelat = $('#hidden_lat').val(); //위도
        homelng = $('#hidden_lng').val(); //경도

        // 이동할 위도 경도 위치를 생성합니다
        var moveLatLon = new kakao.maps.LatLng(homelat, homelng);

        // 지도 중심을 이동 시킵니다
        map.panTo(moveLatLon);

        // 지도 레벨 설정
        map.setLevel(5);
    }


    //현재 위치 찾기
    function setLocation() {
        navigator.geolocation.getCurrentPosition(function (position){

            lat = position.coords.latitude; // 위도
            lng = position.coords.longitude; // 경도

            $('#hidden_lat').val(lat);
            $('#hidden_lng').val(lng);

            if(loadingFlag == 0){
                loadingFlag = 1;
                mapMove();
            }
        }, function (){
            Swal.fire({
                icon: 'question',
                html: '위치 정보를 가져올 수 없습니다.<br>위치 정보 허용을 해주세요.',
            })
        });
    }

    function traceLocation() {
        if(interval != null){
            interval = null;
        }
        interval = setInterval(function() {
            console.log("Interval");
            setLocation();


            pointlat = $('#hidden_lat').val();
            pointlng = $('#hidden_lng').val();

            console.log("위치 : " + pointlat + "/" + pointlng);

            var PlacePointDTO = {
                latitude: pointlat,
                longitude: pointlng
            };



            tracepoint.push(PlacePointDTO);
            linePath.push(new kakao.maps.LatLng(pointlat, pointlng));
            polyline.setPath(linePath);
        }, 1000);
    }

    function traceStop(){
        clearInterval(interval);
        interval = null;
    }


</script>

</body>
</html>