<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">

    <title>Title</title>

</head>

<style>
    .total{
        width: 45%;
        height: 25%;
        margin: 2.5%;
        max-height = 25%;
    }

    .imgDiv{
        width : 50%;
        height: 100%;
    }

    .patrolImg{
	display:block;
	width:100%;
	height:100%;
    }

    .divbody{
        width : 50%;
    }

    #patroldiv{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

</style>

<body>

<menu th:replace="fragments/head :: menu"></menu>

<main>
<div class="container mt-5">
    <h1 class="mb-4 text-center">순찰대 소개</h1>
    <h5 class="mb-4 text-center">반려견과 함께 산책하면서 동네를 살피며 시설물 파손이나 주취자 신고 등 방범 활동을 벌이는 지역봉사 활동</h5>

<button class="btn btn-primary" id="goPatrolInsertBtn" sec:authorize="isAuthenticated()">생성</button>

<div id="patroldiv">

</div>

    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg justify-content-center" id="pageItems">

        </ul>
    </nav>
</div>
</main>

<menu th:replace="fragments/head :: footer"></menu>


<script>
    var urlParams = new URL(location.href).searchParams;
    var page = urlParams.get('page');

    var pageFirst;
    var pageLast;
    var totalPages;
    var totalElements;


    $(document).ready(function(){

        $.ajax({
        type:'get',
        url: "/patrol/findAllPatrol",
        data : {
		    page : page
	    },
        success : function(dto){
            var imgs = dto.uploadDtos;
            var data = dto.list;

            console.log(data);

            pageFirst = data.first;
            pageLast = data.last;
            totalPages = data.totalPages;
            totalElements = data.totalElements;

            var contentList = data.content;

            for(let index in contentList){
                var img;
                 for(let indexImg in imgs){
                    if(imgs[indexImg].foreignNo == contentList[index].patrolNo){
                        img = imgs[indexImg].storedFileName;
                    }
                 }

                $('#patroldiv').append(

                    $('<div>').prop({
                        id: 'patrol' + index,
                        className: 'total'
                        }).attr("onclick", "gopatrol(" + contentList[index].patrolNo + ")")
                    );

                    $('#' + 'patrol' + index).append(
                        $('<div>').prop({
                            id: 'divContent' + index,
                            className: 'bg-white border rounded d-flex h-100'
                        })
                    );

                    $('#' + 'divContent' + index).append(
                        $('<div>').prop({
                            id: 'divimg' + index,
                            className: 'imgDiv'
                        })
                    );

                    $('#divimg' + index).append(
                        '<img src="/images/Z/' + img + '" class="patrolImg">'
                    );

                    $('#' + 'divContent' + index).append(
                        $('<div>').prop({
                            id: 'divbody' + index,
                            className: 'divbody'
                        })
                    );

                    $('#' + 'divbody' + index).append(
                        '<b class="card-text">강아지 이름: ' + contentList[index].name + '</b><br>'
                    );

                    $('#' + 'divbody' + index).append(
                        '<sub class="card-text">강아지 나이:' + contentList[index].age + '</sub><br>'
                    );

                    $('#' + 'divbody' + index).append(
                        '<sub class="card-text">품종:' + contentList[index].breed + '</sub>'
                    );
            }

            if(page > 9){
                $('#pageItems').append(
                    '<li class="page-item"><a class="page-link" href="/patrol/patrol?page=0">&#166;&laquo;</a></li>'
                );
            }

            if(!pageFirst){
                pagePrevious = Number(page) - 1;
                $('#pageItems').append(
                    '<li class="page-item"><a class="page-link" href="/patrol/patrol?page=' + pagePrevious + '" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>'
                );
            }


            if(page > 9){
                pageStart = parseInt( page / 10 ) * 10;
                for(let i = pageStart; i< pageStart + 10; i++){
	                if(i < totalPages){
	                    pageNext = Number(i) + 1;
	                    if(page != i){
	                        $('#pageItems').append(
                                '<li class="page-item"><a   class="page-link"href="/patrol/patrol?page=' + i +'">' + pageNext +  '</a></li>'
                            );
	                    }
	                    else{
	                        $('#pageItems').append(
                                '<li class="page-item active"><a class="page-link">' + pageNext + '</a></li>'
                            );
	                    }
	                }
                }
            }
            else{
                for(let i = 0; i<10; i++){
	                if(i < totalPages){
	                    pageNext = Number(i) + 1;
	                    if(page != i){
	                        $('#pageItems').append(
                                '<li class="page-item"><a   class="page-link"href="/patrol/patrol?page=' + i +'">' + pageNext +  '</a></li>'
                            );
	                    }
	                    else{
	                        $('#pageItems').append(
                                '<li class="page-item active"><a class="page-link">' + pageNext + '</a></li>'
                            );
	                    }
	                }
                }
            }


            if(!pageLast){
                pageNext = Number(page) + 1;
                $('#pageItems').append(
                    '<li class="page-item"><a class="page-link" href="/patrol/patrol?page=' + pageNext + '" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>'
                );
            }

            pageT = parseInt( page / 10 ) * 10;
            totalPagesT = parseInt( totalPages / 10 ) * 10;

            endTarget = Number(totalPagesT);

            if((totalPages > 10)&&(pageT != totalPagesT)){
                $('#pageItems').append(
                    '<li class="page-item"><a class="page-link" href="/patrol/patrol?page=' + endTarget + '">&raquo;&#166;</a></li>'
                );
            }
        },
        error: function (xhr){
            console.log(xhr);
        }
        }); // $.ajax()

        $('#goPatrolInsertBtn').click(function(){
            location.href = "/patrol/patrolinsert";
        });
    });

    function gopatrol(patrolno) {
         location.href = "/patrol/patrolview?patrolNo="+patrolno;
    }
</script>

</body>
</html>