<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<menu th:replace="fragments/head :: menu"></menu>
<main>
    <div class="container py-4">
        <h1 class="mb-4 text-center">🐾순찰대🐾</h1>
        <h3 class="mb-4 text-center">우리의 용감한 댕댕이 🐶</h3>
        <div class="card w-75 mx-auto">
            <div class="card-body">
                <dl class="row justify-content-center">

                    <div  class="image_container" id="image_container" onclick="imgInput();">
                    </div>

                    <br>
                    <br>
                    <br>
                    <br>

                    <dt class="col-sm-3">강아지 이름</dt>
                    <dd class="col-sm-9" id="name"></dd>

                    <dt class="col-sm-3">나이</dt>
                    <dd class="col-sm-9" id="age"></dd>

                    <dt class="col-sm-3">품종</dt>
                    <dd class="col-sm-9" id="breed"></dd>
                    <dt class="col-sm-3">활동지역</dt>
                    <dd class="col-sm-9" id="location"></dd>

                </dl>

                <div id="btnDiv">
                    <button class="btn btn-secondary float-start" onclick="history.back()">뒤로가기</button>

<!--                    <input type="button" class="btn btn-danger float-end mx-1" id="deleteBtn" value="삭제">-->
<!--                    <input type="button" class="btn btn-success float-end mx-1" id="updatePageBtn" value="수정">-->
                </div>
            </div>
        </div>
    </div>
</main>

<menu th:replace="fragments/head :: footer"></menu>

<script th:inline="javascript">
    var username = [[${#authentication.name}]];

    var urlParams = new URL(location.href).searchParams;
    var pnum = urlParams.get('patrolNo');

    $(document).ready(function() {

        $.ajax({
        type:'get',
        url: "/patrol/findOnePatrolByPatrolNo",
        data: {parolNo : pnum},
        success : function(dto){
            data = dto.patrolDTO;
            imgs = dto.uploadDtos;

            $('#patrolNo').text(data.patrolNo);
            $('#userNo').text(data.userNo);
            $('#name').text(data.name);
            $('#age').text(data.age);
            $('#breed').text(data.breed);
            $('#location').text(data.location);

            if(username == data.userId){
                $('#btnDiv').append(
                    '<button class="btn btn-danger float-end ms-1" type="button" id="formDeleteSubmitBtn" onclick="deleteSubmit()">삭제</button>'
                );
                $('#btnDiv').append(
                    '<button class="btn btn-warning float-end ms-1" type="button" id="formUpdateSubmitBtn" onclick="updateSubmit()">수정</button>'
                );

            }

            for(let indexImg in imgs){
                if(indexImg == 0){
                    $('#image_container').append(
                        $('<dd>').addClass('text-center').append(
                            $('<img>', {
                                src: '/images/Z/' + imgs[indexImg].storedFileName,
                                class: 'patrolImg',
                                width: '600px',
                                height: '500px'
                            })
                        )
                    );
                    $('#beforeImgNo').val(imgs[indexImg].imageNo);
                }
            }

        },
        error: function (xhr){
            console.log(xhr);
        }
        }); // $.ajax()

    });

    function updateSubmit() {
        location.href='/patrol/patrolUpdate';
    }

    function deleteSubmit() {
        console.log('삭제버튼');
        $.ajax({
            url : "/patrol/patrolDelete",
            type : 'POST',
            data : {patrolNo : pnum},
            success : function(result) {
                alert(result);
                location.href="/patrol/patrol";
            }
        });
    }

</script>

</body>
</html>