<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">

    <title>Title</title>

</head>

<body class="container mt-5">

<menu th:replace="fragments/head :: menu"></menu>

<main>

<h1 class="mb-4">순찰일지 관리</h1>

    <div style="width: 30%;margin-left:auto;">
        <input class="form-control" type="text" id="searchinput">
        <button class="btn btn-info" id="btnserch" onclick="search()" style="margin-left:70%; width: 30%;">검색</button>
    </div>

<div id="patrolRecordDiv" sec:authorize="hasRole('ROLE_ADMIN')">

</div>

</main>


<script>


    $(document).ready(function(){

        $.ajax({
        type:'get',
        url: "/patrolRecord/findAllPatrolRecord",
        success : function(data){

            for(let index in data){

                $('#patrolRecordDiv').append(

                    $('<div>').prop({
                        id: 'precord' + index,
                        className: 'card'
                        }).attr("onclick", "")
                    );

                    $('#' + 'precord' + index).append(
                        $('<div>').prop({
                            id: 'divbody' + index,
                            className: 'card-body'
                        })
                    );

                    $('#' + 'divbody' + index).append(
                        '<b class="card-text">글제목: ' + data[index].title + '</b><br>'
                    );

                    $('#' + 'divbody' + index).append(
                        '<sub class="card-text">글쓴이: ' + data[index].userNo + '</sub><br>'
                    );

                    $('#' + 'divbody' + index).append(
                        '<sub class="card-text">조회수: ' + data[index].viewcount + '</sub>'
                    );

                    $('#' + 'patrol' + index).append(
                        $('<div>').prop({
                            id: 'divbtn' + index,
                            className: ''
                        })
                    );

                    $('#' + 'precord' + index,).append(
                        '<button class="" id="btnDelete' + index + '" name="btnDelete' + index + '" onclick="deleteprecord(' + data[index].precordNo + ')">삭제</button>'
                    );
            }
        },
        error: function (xhr){
            console.log(xhr);
        }
        }); // $.ajax()

        $('#goPatrolRecordInsertBtn').click(function(){
            location.href = "/patrolRecord/patrolRecordInsert";
        });
    });

    function gopatrolRecord(precordNo) {
        location.href = "/patrolRecord/patrolRecordView?precordNo="+precordNo;
    }

    function search(){
            var searchword = $('#searchinput').val();

            $.ajax({
                url:"/patrolRecord/findRecordBySearch",
                data: {searchword : searchword},
                success: function (data){
                $('#patrolRecordDiv').empty();


                for(let index in data){

                $('#patrolRecordDiv').append(

                    $('<div>').prop({
                        id: 'precord' + index,
                        className: 'card'
                        }).attr("onclick", "gopatrolRecord(" + data[index].precordNo + ")")
                    );

                    $('#' + 'precord' + index).append(
                        $('<div>').prop({
                            id: 'divbody' + index,
                            className: 'card-body'
                        })
                    );

                    $('#' + 'divbody' + index).append(
                        '<b class="card-text">글제목: ' + data[index].title + '</b><br>'
                    );

                    $('#' + 'divbody' + index).append(
                        '<sub class="card-text">글쓴이: ' + data[index].userNo + '</sub><br>'
                    );

                    $('#' + 'divbody' + index).append(
                        '<sub class="card-text">조회수: ' + data[index].viewcount + '</sub>'
                    );
            }

                },
                error: function (xhr){
                    console.log(xhr);
                }
            })
        }

    function gopatrolRecordAdmin() {
        location.href = "/patrolRecord/patrolRecordAdmin";
    }

    function deleteprecord(precordno) {

        $.ajax({
            type:'post',
            url: "/patrolRecord/patrolRecordDeleteAdmin",
            data: {precordNo : precordno},
            success : function(data){
                gopatrolRecordAdmin();
            },
            error: function (xhr){
                console.log(xhr);
            }
        }); // $.ajax()
    }
</script>

</body>
</html>