<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">

    <title>Title</title>

</head>

<style>
    .card{
        width: 18rem;
    }
</style>

<body class="container mt-5">

<menu th:replace="fragments/head :: menu"></menu>

<main>

    <menu th:replace="fragments/head :: footer"></menu>

<h1 class="mb-4">순찰대 관리</h1>

    <div style="width: 30%;margin-left:auto;">
        <input class="form-control" type="text" id="searchinput">
        <button class="btn btn-info" id="btnserch" onclick="search()" style="margin-left:70%; width: 30%;">검색</button>
    </div>

<div id="patroldiv" sec:authorize="hasRole('ROLE_ADMIN')">

</div>

</main>


<script>


    $(document).ready(function(){

        findAllPatrol();

        $('#goPatrolInsertBtn').click(function(){
            location.href = "/patrol/patrolinsert";
        });
    });

    function gopatrolAdmin() {
         location.href = "/patrol/patrolAdmin;
    }

    function deletepatrol(patrolno) {

        $.ajax({
            type:'post',
            url: "/patrol/patrolDelete",
            data: {patrolNo : patrolno},
            success : function(data){
                gopatrolAdmin();
            },
            error: function (xhr){
                console.log(xhr);
            }
        }); // $.ajax()
    }

    function findAllPatrol() {
        $.ajax({
        type:'get',
        url: "/patrol/findAllPatrol",
        success : function(dto){
            var data = dto.list;
            var imgs = dto.uploadDtos;

            for(let index in data){
                var img;
                 for(let indexImg in imgs){
                    if(imgs[indexImg].foreignNo == data[index].patrolNo){
                        img = imgs[indexImg].storedFileName;
                    }
                 }

                $('#patroldiv').append(

                    $('<div>').prop({
                        id: 'patrol' + index,
                        className: 'card'
                        }).attr("onclick", "")
                    );

                    $('#' + 'patrol' + index).append(
                        $('<div>').prop({
                            id: 'divimg' + index,
                            className: 'imgDiv'
                        })
                    );

                    $('#divimg' + index).append(
                        '<img src="/images/Z/' + img + '">'
                    );

                    $('#' + 'patrol' + index).append(
                        $('<div>').prop({
                            id: 'divbody' + index,
                            className: 'card-body'
                        })
                    );

                    $('#' + 'divbody' + index).append(
                        '<b class="card-text">강아지 이름: ' + data[index].name + '</b><br>'
                    );

                    $('#' + 'divbody' + index).append(
                        '<sub class="card-text">강아지 나이:' + data[index].age + '</sub><br>'
                    );

                    $('#' + 'divbody' + index).append(
                        '<sub class="card-text">품종:' + data[index].breed + '</sub>'
                    );

                    $('#' + 'patrol' + index).append(
                        $('<div>').prop({
                            id: 'divbtn' + index,
                            className: ''
                        })
                    );

                    $('#' + 'divbtn' + index).append(
                        '<button class="" id="btnDelete' + index + '" name="btnDelete' + index + '" onclick="deletepatrol(' + data[index].patrolNo + ')">삭제</button>'
                    );
            }
        },
        error: function (xhr){
            console.log(xhr);
        }
        }); // $.ajax()
    }
</script>

</body>
</html>