<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">

    <title>Title</title>

</head>

<body class="container mt-5">

<menu th:replace="fragments/head :: menu"></menu>

<main>

<h1 class="mb-4">순찰일지</h1>

    <div style="width: 30%;margin-left:auto;display: flex;">
        <input class="form-control" type="text" id="searchinput" style="width: 70%;">
        <button class="btn btn-info" id="btnserch" onclick="search()" style="width: 30%;">검색</button>
    </div>

    <button class="btn btn-primary" id="goPatrolRecordInsertBtn" sec:authorize="isAuthenticated()">생성</button>

<div id="patrolRecordDiv">

</div>

    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg justify-content-center" id="pageItems">

        </ul>
    </nav>

</main>

<menu th:replace="fragments/head :: footer"></menu>


<script>
    var urlParams = new URL(location.href).searchParams;
    var page = urlParams.get('page');

    var pageFirst;
    var pageLast;
    var totalPages;


    $(document).ready(function(){

        $.ajax({
        type:'get',
        url: "/patrolRecord/findAllPatrolRecord",
        data : {
		    page : page
	    },
        success : function(data){
            console.log(data);

            pageFirst = data.first;
            pageLast = data.last;
            totalPages = data.totalPages;

            var contentList = data.content;

            for(let index in contentList){

                $('#patrolRecordDiv').append(
                    $('<div>').prop({
                        id: 'precord' + index,
                        className: 'card'
                        }).attr("onclick", "gopatrolRecord(" + contentList[index].precordNo + ")")
                );

                $('#' + 'precord' + index).append(
                    $('<div>').prop({
                        id: 'divbody' + index,
                        className: 'card-body'
                    })
                );

                $('#' + 'divbody' + index).append(
                    '<b class="card-text">글제목: ' + contentList[index].title + '</b><br>'
                );

                $('#' + 'divbody' + index).append(
                    '<sub class="card-text">글쓴이: ' + contentList[index].userId + '</sub><br>'
                );

                $('#' + 'divbody' + index).append(
                    '<sub class="card-text">조회수: ' + contentList[index].viewcount + '</sub>'
                );
            }

            if(!pageFirst){
                pagePrevious = Number(page) - 1;
                $('#pageItems').append(
                    '<li class="page-item"><a class="page-link" href="/patrolRecord/patrolRecord?page=' + pagePrevious + '" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>'
                );
            }

            for(let i = 0; i<page + 10; i++){
	            if(i < totalPages){
	                pageNext = Number(i) + 1;
	                if(page != i){
	                    $('#pageItems').append(
                            '<li class="page-item"><a class="page-link"href="/patrolRecord/patrolRecord?page=' + i +'">' + pageNext + '</a></li>'
                        );
	                }
	                else{
	                    $('#pageItems').append(
                            '<li class="page-item active"><a class="page-link">' + pageNext + '</a></li>'
                        );
	                }
	            }
            }

            if(!pageLast){
                pageNext = Number(page) + 1;
                $('#pageItems').append(
                    '<li class="page-item"><a class="page-link" href="/patrolRecord/patrolRecord?page=' + pageNext + '" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>'
                );
            }
        },
        error: function (xhr){
            console.log(xhr);
        }
        }); // $.ajax()

        $('#goPatrolRecordInsertBtn').click(function(){
            location.href = "/patrolRecord/patrolRecordInsert";
        });
    });

    function gopatrolRecord(precordNo) {
        location.href = "/patrolRecord/patrolRecordView?precordNo="+precordNo;
    }

    function search(){
            var searchword = $('#searchinput').val();

            $.ajax({
                url:"/patrolRecord/findRecordBySearch",
                data: {searchword : searchword},
                success: function (data){
                $('#patrolRecordDiv').empty();


                for(let index in data){

                $('#patrolRecordDiv').append(

                    $('<div>').prop({
                        id: 'precord' + index,
                        className: 'card'
                        }).attr("onclick", "gopatrolRecord(" + data[index].precordNo + ")")
                    );

                    $('#' + 'precord' + index).append(
                        $('<div>').prop({
                            id: 'divbody' + index,
                            className: 'card-body'
                        })
                    );

                    $('#' + 'divbody' + index).append(
                        '<b class="card-text">글제목: ' + data[index].title + '</b><br>'
                    );

                    $('#' + 'divbody' + index).append(
                        '<sub class="card-text">글쓴이: ' + data[index].userNo + '</sub><br>'
                    );

                    $('#' + 'divbody' + index).append(
                        '<sub class="card-text">조회수: ' + data[index].viewcount + '</sub>'
                    );
            }

                },
                error: function (xhr){
                    console.log(xhr);
                }
            })
        }
</script>

</body>
</html>