<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

    <title>Title</title>

</head>
<body class="container mt-5">

<menu th:replace="fragments/head :: menu"></menu>

<main>

<h1 class="mb-4">순찰일지 작성</h1>

<form action="makePrecord" method="post" enctype="multipart/form-data" id="formId">

    <div class="mb-3">
    <label class="form-label">제목</label><br>
    <input class="form-control" type="text" id="title" name="title"><br>
    </div>

    <div class="mb-3">
    <select id="precordPlace" name="precordPlace" class="datatable-selector">
        <!-- ajax로 조회 -->
    </select><br>
    </div>

    <div class="mb-3">
    <label class="form-label">내용</label><br>
    <input class="form-control" type="text" id="content" name="content"><br>
    </div>

    <div  class="mb-3" id="image_container">
        <!-- 이미지 들어가는곳 -->
    </div>

    <input class="form-control" type="file" id="inputFile" name="inputFile"><br>

    <input class="btn btn-primary" type="button" id="formSubmitBtn" value="작성">

</form>

</main>

<script>
    $(document).ready(function() {

        $.ajax({
                url:"/patrolRecord/findNonSelectedPrecourdPlace",
                success: function (data){
                    const $precordPlace = $("#precordPlace");

                    for(let index in data){
                        $precordPlace.append($("<option>").val(data[index].precordPlaceNo).text(data[index].precordPlaceNo + "번 기록"))

                    }
                },
                error: function (xhr){
                    console.log(xhr);
                }
        })


        // 이미지 road Start
        let imageFiles = [];
        $('#inputFile').on('change', function(event) {
            console.log('실행');
            var file = event.target.files[0];
            if (file && file.type.startsWith('image/')) {
                var reader = new FileReader();
                reader.onload = function(e) {
                $('#image_container').append('<img src="' + e.target.result + '" alt="Selected Image" width="100px" height="100px">');
                }
            imageFiles.push(file);
            reader.readAsDataURL(file);
            }
            else {
                alert('이미지 파일을 선택해주세요');
            }
           });
        // 이미지 road End
        // 폼 서브밋 Start

        $('#formSubmitBtn').click(function(){

            let formData = new FormData($("#formId")[0]);

            for (let i = 0; i < imageFiles.length;i++) {
                formData.append('imageFiles',imageFiles[i]);
            }

            $.ajax({
                url : "/patrolRecord/makePrecord",
                processData : false,
                contentType : false,
                type : 'POST',
                data : formData,
                success : function(data) {
                    location.replace("/patrolRecord/patrolRecord");
                }
            });
        });
        // 폼 서브밋 End
    });
</script>

</body>
</html>