<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">

    <title>순찰대 목록</title>

</head>

<body>

<menu th:replace="fragments/head :: menu"></menu>

<main class="container py-4">
    <h1 class="mb-4 text-center">🐾순찰대🐾</h1>
    <h3 class="mb-4 text-center">반려견과 함께 하는 방범 활동🐶</h3>


<div id="patroldiv" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

</div>

    <div class="d-flex" style="margin: 1%;">

        <div style="margin-left:auto;"></div>

    </div>
    <div>
        <button class="btn btn-primary float-end" id="goPatrolInsertBtn" sec:authorize="isAuthenticated()">생성</button>
        <nav aria-label="Page navigation" class="mt-4" style="padding-left: 110px;">
            <ul class="pagination justify-content-center" id="pageItems">

            </ul>
        </nav>
    </div>
</main>

<menu th:replace="fragments/head :: footer"></menu>


<script>
    var urlParams = new URL(location.href).searchParams;
    var page = urlParams.get('page');

    var pageFirst;
    var pageLast;
    var totalPages;
    var totalElements;


    $(document).ready(function(){

        $.ajax({
        type:'get',
        url: "/patrol/findAllPatrol",
        data : {
		    page : page
	    },
        success : function(dto){
            var imgs = dto.uploadDtos;
            var data = dto.list;

            console.log(data);

            pageFirst = data.first;
            pageLast = data.last;
            totalPages = data.totalPages;
            totalElements = data.totalElements;

            var contentList = data.content;

            for(let index in contentList){
                var img;
                for(let indexImg in imgs){
                    if(imgs[indexImg].foreignNo == contentList[index].patrolNo){
                        img = imgs[indexImg].storedFileName;
                    }
                }

                $('#patroldiv').append(

                    $('<div>').prop({
                        id: 'patrol' + index,
                        className: 'col'
                        }).attr("onclick", "gopatrol(" + contentList[index].patrolNo + ")")
                    );

                    $('#' + 'patrol' + index).append(
                        $('<div>').prop({
                            id: 'divContent' + index,
                            className: 'card h-100'
                        })
                    );

                    $('#' + 'divContent' + index).append(
                        $('<div>').prop({
                            id: 'divimg' + index,
                            className: 'ratio ratio-1x1'
                        })
                    );

                    $('#divimg' + index).append(
                        '<img src="/images/Z/' + img + '" class="card-img-top object-fit-cover"  onerror="this.onerror=null; this.src=\'https://kr.object.ncloudstorage.com/team-5/Non-Img.png\';">'
                    );

                    $('#' + 'divContent' + index).append(
                        $('<div>').prop({
                            id: 'divbody' + index,
                            className: 'card-body'
                        })
                    );

                    $('#' + 'divbody' + index).append(
                        '<b class="card-text" style="font-size: 1.2em;">🐶이름: ' + contentList[index].name + '</b><br>'
                    );

                    $('#' + 'divbody' + index).append(
                        '<sub class="card-text" style="font-size: 1.1em;">나이:' + contentList[index].age + '살</sub><br>'
                    );

                    $('#' + 'divbody' + index).append(
                        '<sub class="card-text" style="font-size: 1.1em;">품종:' + contentList[index].breed + '</sub><br>'
                    );

                    $('#' + 'divbody' + index).append(
                        '<sub class="card-text" style="font-size: 1.1em;">활동지역:' + contentList[index].location + '</sub>'
                    );

                    img = "";
            }

            if(page > 9){
                $('#pageItems').append(
                    '<li class="page-item"><a class="page-link" href="/patrol/patrol?page=0">&#166;&laquo;</a></li>'
                );
            }

            if(!pageFirst){
                pagePrevious = Number(page) - 1;
                $('#pageItems').append(
                    '<li class="page-item"><a class="page-link" href="/patrol/patrol?page=' + pagePrevious + '" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>'
                );
            }


            if(page > 9){
                pageStart = parseInt( page / 10 ) * 10;
                for(let i = pageStart; i< pageStart + 10; i++){
	                if(i < totalPages){
	                    pageNext = Number(i) + 1;
	                    if(page != i){
	                        $('#pageItems').append(
                                '<li class="page-item"><a   class="page-link"href="/patrol/patrol?page=' + i +'">' + pageNext +  '</a></li>'
                            );
	                    }
	                    else{
	                        $('#pageItems').append(
                                '<li class="page-item active"><a class="page-link">' + pageNext + '</a></li>'
                            );
	                    }
	                }
                }
            }
            else{
                for(let i = 0; i<10; i++){
	                if(i < totalPages){
	                    pageNext = Number(i) + 1;
	                    if(page != i){
	                        $('#pageItems').append(
                                '<li class="page-item"><a   class="page-link"href="/patrol/patrol?page=' + i +'">' + pageNext +  '</a></li>'
                            );
	                    }
	                    else{
	                        $('#pageItems').append(
                                '<li class="page-item active"><a class="page-link">' + pageNext + '</a></li>'
                            );
	                    }
	                }
                }
            }


            if(!pageLast){
                pageNext = Number(page) + 1;
                $('#pageItems').append(
                    '<li class="page-item"><a class="page-link" href="/patrol/patrol?page=' + pageNext + '" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>'
                );
            }

            pageT = parseInt( page / 10 ) * 10;
            totalPagesT = parseInt( totalPages / 10 ) * 10;

            endTarget = Number(totalPagesT);

            if((totalPages > 10)&&(pageT != totalPagesT)){
                $('#pageItems').append(
                    '<li class="page-item"><a class="page-link" href="/patrol/patrol?page=' + endTarget + '">&raquo;&#166;</a></li>'
                );
            }
        },
        error: function (xhr){
            console.log(xhr);
        }
        }); // $.ajax()

        $('#goPatrolInsertBtn').click(function(){
            location.href = "/patrol/patrolinsert";
        });
    });

    function gopatrol(patrolno) {
         location.href = "/patrol/patrolview?patrolNo="+patrolno;
    }
</script>

</body>
</html>