<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">

    <title>Title</title>

</head>

<style>
    .card-body{
        display: flex;
        align-items: center;
    }
    .replyInput{
        resize : none;
        width : 100%;
    }

    #formId{
        width : 80%;
        margin : 3%;
    }
</style>

<body>

<menu th:replace="fragments/head :: menu"></menu>

<main>

    <div class="container mt-5">

        <h1 class="mb-4 text-center">🐾순찰일지🐾</h1>
        <h5 class="mb-4 text-center">시설물 파손이나 주취자 신고 등 특이사항을 기록해주세요</h5>

        <div class="card w-75 mx-auto">
    <div class="d-flex justify-content-center">
        <form  method="post" enctype="multipart/form-data" id="formId">

            <input type="hidden" id="beforePrecordNo" name="beforePrecordNo">

            <input type="hidden" id="precordNo" name="precordNo">
            <input type="hidden" id="userNo" name="userNo">

            <div class="mb-3" id="titleDiv">
                <label class="form-label">제목</label><br>
            </div>

            <div class="mb-3">
                <select id="precordPlace" name="precordPlace" class="datatable-selector">
                    <!-- ajax로 조회 -->
                </select><br>
            </div>

            <div class="mb-3" id="contentDiv">
                <label class="form-label">내용</label><br>
            </div>

            <input class="form-control" type="file" id="imageUpdate" hidden="hidden">

            <div  class="mb-3" id="image_container">
                <!-- 이미지 들어가는곳 -->
            </div>
            <label for="inputFile" class="form-label">이미지 첨부</label>
            <input class="form-control" type="file" id="inputFile" name="inputFile"><br>

        </form>
    </div>

    <div class="bg-white border p-4 rounded" sec:authorize="isAuthenticated()">
        <form class="" id="replyForm" method="post" action="/patrolRecord/reply/repleyInsert">
            <input type="hidden" id="replyPrecordNo" name="replyPrecordNo">
            <textarea class="replyInput" id="replyContent" name="replyContent" rows="4" maxlength="255"></textarea><br>
            <div class="comment-form-wrap" >
                <span class="starrr" id="comment-star"></span>

                <span class="length">
                <span class="comment_length">0</span>
                    / 255
                </span>
                <button class="btn btn-primary float-end" type="submit" style="margin-left: 85%;">댓글작성</button>
            </div>
        </form>
    </div>

    <div class="" id="allReplyDiv">

    </div>


        </div>

    </div>

</main>

<menu th:replace="fragments/head :: footer"></menu>

<script th:inline="javascript">
    var username = [[${#authentication.name}]];
    var replyShowFlag;

    // 이미지 배열 변수 Start
        var imageDeleteImageNos = [];
        var imageUpdateImageNos = [];
        var imageUpdateFiles = [];
        var imageFiles = [];
    // 이미지 배열 변수 End

    // imgDiv, img, imageNo를 저장할 변수 선언
        var currentImgDiv;
        var currentImg;
        var currentImageNo;

        var urlParams = new URL(location.href).searchParams;
        var pnum = urlParams.get('precordNo');

        $('#precordNo').val(pnum);
        $('#replyPrecordNo').val(pnum);

    $(document).ready(function() {

        //선택한 순찰기록 조회
        $.ajax({
            type:'get',
            url: "/patrolRecord/findPrecordPlaceNoByPrecordNo",
            data: {precordNo : pnum},
            success : function(data){

                $('#beforePrecordNo').val(data);

                if(data != null){
                    $("#precordPlace").append($("<option>").val(data).text(data + "번 기록 *").prop("selected", true));
                }
            },
            error: function (xhr){
                console.log(xhr);
                $('#beforePrecordNo').val(0);
            }
        }); // $.ajax()





        //순찰기록 조회
        $.ajax({
                url:"/patrolRecord/findNonSelectedPrecourdPlace",
                success: function (data){
                    const $precordPlace = $("#precordPlace");

                    for(let index in data){

                        $precordPlace.append($("<option>").val(data[index].precordPlaceNo).text(data[index].precordPlaceNo + "번 기록"))

                    }
                },
                error: function (xhr){
                    console.log(xhr);
                }
        })

        //댓글 조회
        $.ajax({
        type:'get',
        data: {precordNo : pnum},
        url: "/patrolRecord/reply/findRepleyAllByPrecordNo",
        success : function(data){

            for(let index in data){

                $('#allReplyDiv').append(

                    $('<div>').prop({
                        id: 'precordReplyWrap' + index,
                        className: ''
                        })
                    );

                    $('#' + 'precordReplyWrap' + index).append(
                        $('<div>').prop({
                            id: 'precordReply' + index,
                            className: 'bg-white'
                        }).attr("onclick", "showReply(" + JSON.stringify(data[index]) + "," +  index +")")
                    );

                    $('#' + 'precordReply' + index).append(
                        $('<div>').prop({
                            id: 'divbody' + index,
                            className: 'card-body'
                        })
                    );

                    $('#' + 'divbody' + index).append(
                        '<b class="card-text">작성자: ' + data[index].userName + '&emsp;&emsp;&emsp;</b>'
                    );

                    $('#' + 'divbody' + index).append(
                        '<p class="card-text" style="margin-bottom: 0;	max-width:70% ; word-wrap:break-word;">' + data[index].content + '</p>'
                    );

                    $('#' + 'divbody' + index).append(
                        '<sub class="card-text" style="margin-left: auto;">' + data[index].createtime + '</sub>'
                    );

                    $('#' + 'precordReplyWrap' + index).append(
                        '<hr class="my-2">'
                    );

                    $('#' + 'precordReplyWrap' + index).append(
                        $('<div>').prop({
                            id: 'replyChange' + index,
                            className: 'replyShowDiv bg-white'
                        })
                    );

            }
        },
        error: function (xhr){
            console.log(xhr);
        }
        }); // $.ajax()




        // 이미지 road Start
        $('#inputFile').on('change', function(event) {
            console.log('실행');
            var file = event.target.files[0];
            if (file && file.type.startsWith('image/')) {
                var reader = new FileReader();
                reader.onload = function(e) {
                $('#image_container').append('<img src="' + e.target.result + '" alt="Selected Image" width="100px" height="100px">');
                }
            imageFiles.push(file);
            reader.readAsDataURL(file);
            }
            else {
                alert('이미지 파일을 선택해주세요');
            }
           });
        // 이미지 road End






        $('#formUpdateSubmitBtn').click(function(){

            console.log("imageDeleteImageNos >> " + imageDeleteImageNos.length);
            console.log("imageUpdateFiles >> " + imageUpdateFiles.length);
            console.log("imageFiles >> " + imageFiles.length);

            let formData = new FormData($("#formId")[0]);

            for (let i = 0; i < imageDeleteImageNos.length;i++) {
                formData.append('imageDeleteImageNo',imageDeleteImageNos[i]);
            }

            for (let i = 0; i < imageFiles.length;i++) {
                formData.append('imageFiles',imageFiles[i]);
            }

            for (let i = 0; i < imageUpdateFiles.length;i++) {
                formData.append('imageUpdateImageNo',imageUpdateImageNos[i]);
                formData.append('imageUpdateFiles',imageUpdateFiles[i]);
            }

            alert('이미지');

            $.ajax({
                url : "/patrolRecord/patrolRecordUpdate",
                processData : false,
                contentType : false,
                type : 'POST',
                data : formData,
                success : function(data) {
                    //location.replace("/patrolRecord/patrolRecord");
                }
            });
        });
        // 폼 업데이트 서브밋 End

        $('#formDeleteSubmitBtn').click(function(){

            let formData = new FormData($("#formId")[0]);

            $.ajax({
                url : "/patrolRecord/patrolRecordDelete",
                processData : false,
                contentType : false,
                type : 'POST',
                data : formData,
                success : function(data) {
                    location.replace("/patrolRecord/patrolRecord");
                }
            });
        });
        // 폼 삭제 서브밋 End
    });

    //이미지 조회 , 내용 조회
        $.ajax({
            type:'get',
            url: "/patrolRecord/findOnePatrolRecordByPrecordNo",
            data: {precordNo : pnum},
            success : function(dto){
                var data = dto.precordDTO;
                var imgs = dto.uploadDtos;

                $('#userNo').val(data.userNo);

                if(username == data.userId){

                    $('#titleDiv').append(
                        '<input class="form-control" type="text" id="title" name="title" maxlength="255"><br>'
                    );

                    $('#title').val(data.title);

                    $('#contentDiv').append(
                        '<textarea class="form-control" type="text" id="content" name="content" rows="10" maxlength="255">' + data.content +'</textarea><br>'
                    );
                    $('#formId').append(
                        '<div class = "d-flex" id="formBtn"><div style="margin-left:auto;"></div></div>'
                    );
                    $('#formBtn').append(
                    '<button class="btn btn-warning" type="button" id="formUpdateSubmitBtn" onclick="updateSubmit()">수정</button>'
                    );
                    $('#formBtn').append(
                    '<button class="btn btn-danger" type="button" id="formDeleteSubmitBtn" onclick="deleteSubmit()">삭제</button>'
                    );
                }
                else{

                    $('#titleDiv').append(
                        '<input class="form-control" type="text" id="title" name="title" readonly><br>'
                    );

                    $('#title').val(data.title);
                    $('#contentDiv').append(
                        '<textarea class="form-control" type="text" id="content" name="content" rows="10" style="resize:none;" readonly>' + data.content +'</textarea><br>'
                    );
                }

                for(let indexImg in imgs){

                    $('#image_container').append(
                        $('<div>').prop({
                            id: 'imgdiv' + indexImg,
                            className: 'imgDiv'
                        }).attr("onclick", "")
                    );

                    $('#imgdiv' + indexImg).append(
                        '<img id="img' + indexImg + '" src="/images/Y/' + imgs[indexImg].storedFileName + '">'
                    );

                    if(username == data.userId){
                        //이미지 수정 버튼
                    $('#imgdiv' + indexImg).append(
                        '<button type="button" class="btn btn-success" id="btnUpdate' + indexImg + '" name="btnUpdate' + indexImg + '" onclick="imgUpdate(' + imgs[indexImg].imageNo + ',' + indexImg + ')">수정</button>'
                    );

                    //이미지 삭제 버튼
                    $('#imgdiv' + indexImg).append(
                        '<button type="button" class="btn btn-danger" id="btnDelete' + indexImg + '" name="btnDelete' + indexImg + '" onclick="imgDelete(' + imgs[indexImg].imageNo + ',' + indexImg + ')">삭제</button>'
                    );
                    }
                }

            },
            error: function (xhr){
                console.log(xhr);
            }
        }); // $.ajax()

        // 업데이트 이미지 업로드
        $('#imageUpdate').on('change', function(event) {
            var file = event.target.files[0];
            if (file && file.type.startsWith('image/')) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    currentImg.attr("src", e.target.result);
                }
                reader.readAsDataURL(file);
                imageUpdateFiles.push(file);
                imageUpdateImageNos.push(currentImageNo);
                currentImgDiv.find('input').remove();
            } else {
                alert('이미지 파일을 선택해주세요');
            }
        });
    // 업데이트 이미지 업로드 End

    // 이미지 수정 버튼 클릭 시 데이터 받아오기, updatefile 열기
        function imgUpdate(imgNo , indexImg){
            currentImageNo = imgNo;
            currentImgDiv = $('#imgdiv' + indexImg);
            currentImg = $('#img' + indexImg);

            console.log("currentImageNo>>" + currentImageNo);
            console.log("currentImgDiv>>" + currentImgDiv);
            console.log("currentImg>>" + currentImg);

            $('#imageUpdate').click(); // 파일 선택 창을 엽니다.
    };


    // 이미지 삭제버튼 클릭 Start
        function imgDelete(imgNo , indexImg){
            imageDeleteImageNos.push(imgNo);
            $('#imgdiv' + indexImg).remove();
        };
    // 이미지 삭제버튼 클릭 End

    function updateSubmit(){
            if(inputCheck()){
                console.log("imageDeleteImageNos >> " + imageDeleteImageNos.length);
            console.log("imageUpdateFiles >> " + imageUpdateFiles.length);
            console.log("imageFiles >> " + imageFiles.length);

            let formData = new FormData($("#formId")[0]);

            for (let i = 0; i < imageDeleteImageNos.length;i++) {
                formData.append('imageDeleteImageNo',imageDeleteImageNos[i]);
            }

            for (let i = 0; i < imageFiles.length;i++) {
                formData.append('imageFiles',imageFiles[i]);
            }

            for (let i = 0; i < imageUpdateFiles.length;i++) {
                formData.append('imageUpdateImageNo',imageUpdateImageNos[i]);
                formData.append('imageUpdateFiles',imageUpdateFiles[i]);
            }

            $.ajax({
                url : "/patrolRecord/patrolRecordUpdate",
                processData : false,
                contentType : false,
                type : 'POST',
                data : formData,
                success : function(data) {
                    location.replace("/patrolRecord/patrolRecord");
                }
            });
            }
    }

    function deleteSubmit(){
        let formData = new FormData($("#formId")[0]);

            $.ajax({
                url : "/patrolRecord/patrolRecordDelete",
                processData : false,
                contentType : false,
                type : 'POST',
                data : formData,
                success : function(data) {
                    location.replace("/patrolRecord/patrolRecord");
                }
            });
    }

    function showReply(replyDTO , index) {
        if((replyShowFlag != index)&&(username == replyDTO.userId)){
            $('.replyShowDiv').empty();

            var replyTargetNum = $('#precordNo').val();

            var replyChangeForm = $('<form style=""></form>');

            replyChangeForm.attr("name","replyChangeForm");
            replyChangeForm.attr("method","post");

            replyChangeForm.append('<input type="hidden" id="replyNo" name="replyNo" value="' + replyDTO.precordReplyNo +'">');
            replyChangeForm.append('<input type="hidden" id="replyPrecordNo" name="replyPrecordNo" value="' + replyTargetNum + '">');

            replyChangeForm.append('<textarea class="" id="replyContent" name="replyContent" style="resize:none;" rows="4" cols="70">' + replyDTO.content + '</textarea><br>');
            replyChangeForm.append('<button type="submit" formaction="/patrolRecord/reply/repleyUpdate" class="btn btn-primary">수정</button>');
            replyChangeForm.append('<button type="submit" formaction="/patrolRecord/reply/repleyDelete" class="btn btn-primary">삭제</button>');

            replyChangeForm.append('<hr class="my-2">');

            replyChangeForm.appendTo('#replyChange' + index);

            replyShowFlag = index;
        }
    }

       // 댓글 글자수 감지
    $("#replyContent").keyup(function (e){
        var content = $(this).val();

        //글자수 세기
        if(content.length == 0 || content == ""){
            $(".comment_length").text('0');
        }else{
            $(".comment_length").text(content.length);
        }
    });

    function inputCheck() {
        var input1 = $('#title').val();
        var input2 = $('#content').val();
        var input3 = $('#precordPlace').val();

        if((input1 == "")||(input2 == "")||(input3 == null)){
            alert("입력칸을 모두 채워주세요.");

            return false;
        }
        else{
            return true;
        }
    }
</script>

</body>
</html>