<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

    <title>Title</title>

</head>
<body class="container mt-5">

<menu th:replace="fragments/head :: menu"></menu>

<h1 class="mb-4">순찰대 생성</h1>

<form action="makepatrol" method="post" enctype="multipart/form-data" id="formId">

    <div  class="mb-3" id="image_container">
        <!-- 이미지 들어가는곳 -->
    </div>

    <input class="form-control" type="file" id="inputFile" name="inputFile"><br>

    <div class="mb-3">
    <label class="form-label">강아지 이름</label><br>
    <input class="form-control" type="text" id="name" name="name"><br>
    </div>

    <div class="mb-3">
    <label class="form-label">나이</label><br>
    <input class="form-control" type="number" id="age" name="age"><br>
    </div>

    <div class="mb-3">
    <label class="form-label">품종</label><br>
    <input class="form-control" type="text" id="breed" name="breed"><br>
    </div>

    <div class="mb-3">
    <label class="form-label">주소</label><br>
    <input class="form-control" type="text" id="location" name="location"><br>
    </div>

    <input class="btn btn-primary" type="button" id="formSubmitBtn" value="신청">

</form>

<script>
    $(document).ready(function() {

        // 이미지 road Start
        let imageFiles = [];
        $('#inputFile').on('change', function(event) {
            console.log('실행');
            var file = event.target.files[0];
            if (file && file.type.startsWith('image/')) {
                var reader = new FileReader();
                reader.onload = function(e) {
                $('#image_container').append('<img src="' + e.target.result + '" alt="Selected Image" width="100px" height="100px">');
                }
            imageFiles.push(file);
            reader.readAsDataURL(file);
            }
            else {
                alert('이미지 파일을 선택해주세요');
            }
           });
        // 이미지 road End
        // 폼 서브밋 Start

        $('#formSubmitBtn').click(function(){

            let formData = new FormData($("#formId")[0]);

            for (let i = 0; i < imageFiles.length;i++) {
                formData.append('imageFiles',imageFiles[i]);
            }

            $.ajax({
                url : "/patrol/makepatrol",
                processData : false,
                contentType : false,
                type : 'POST',
                data : formData,
                success : function(data) {
                    location.replace("/patrol/patrol");
                }
            });
        });
        // 폼 서브밋 End
    });
</script>

</body>
</html>