<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>상품 등록</title>

    <script>
        $(document).ready(function() {
        // 카테고리 불러오기 Start
            $.ajax({
                type : "GET",
                url : "/sales/categoryList",
                dataType : "json",
                success : function(result) {
                    for (var i = 0 ; i < result.length; i++) {
                        let htmlStr = `
                            <option value='`+result[i].categoryCode+`'>`+result[i].salesStatus+`</option>
                        `;
                        $('#category').append(htmlStr);
                    }
                }
            });
        // 카테고리 불러오기 End
        // 이미지 road Start
            let imageFile;
           let imageFiles = [];

           $('#IMGFile').on('change', function(event) {
                console.log('실행');
               var file = event.target.files[0];
               if (file && file.type.startsWith('image/')) {
                 var reader = new FileReader();
                 reader.onload = function(e) {
                   $('#DetailsIMG').html('<img src="' + e.target.result + '" alt="Selected Image" width="100px" height="100px">');
                 }
                 imageFile = file;
                 reader.readAsDataURL(file);
               } else {
                 alert('이미지 파일을 선택해주세요');
               }
           });

           $('#imageInput').on('change', function(event) {
                console.log('실행');
               var file = event.target.files[0];
               if (file && file.type.startsWith('image/')) {
                 var reader = new FileReader();
                 reader.onload = function(e) {
                   $('#imgAddDiv').append('<img src="' + e.target.result + '" alt="Selected Image" width="100px" height="100px">');
                 }
                 imageFiles.push(file);
                 reader.readAsDataURL(file);
               } else {
                 alert('이미지 파일을 선택해주세요');
               }
           });
        // 이미지 road End
        // 폼 서브밋 Start

             $('#insertForm').submit(function(event){
    event.preventDefault();
    let formData = new FormData(this);
    formData.append('imageFile', imageFile);

    for (let i = 0; i < imageFiles.length; i++) {
        formData.append('imageFiles', imageFiles[i]);
    }

    $.ajax({
        url : "/sales/insertGoods",
        processData : false,
        contentType : false,
        type : 'POST',
        data : formData,
        success : function(data) {
            alert('상품이 성공적으로 등록되었습니다.');
            window.location.href = '/sales/salesList';
        },
        error: function(xhr, status, error) {
            alert('상품 등록에 실패하였습니다. 다시 시도해주세요.');
        }
    });
});
        // 폼 서브밋 End
    });
    </script>
</head>
<body>
<h1>상품 등록</h1>
<form action="/sales/insertGoods" method="post" enctype="multipart/form-data" id="insertForm">
    <label for="name">상품 이름:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="name">대표이미지:</label>
    <input type="file" id="IMGFile" name="IMGFile" required><br><br>
    <div id="DetailsIMG">

    </div>

    <label for="category">카테고리:</label>
    <select id="category" name="categoryCode"></select> <br>

    <label for="price">가격:</label>
    <input type="number" id="price" name="price" required><br><br>

    <label for="quantity">수량:</label>
    <input type="number" id="quantity" name="quantity" required><br><br>

    <label for="content">상세 설명:</label>
    <textarea id="content" name="content" required></textarea><br><br>

    상세 이미지: <br>
    <input type="file" id="imageInput"/>
    <div id="imgAddDiv">

    </div>

    <input type="submit" value="등록">
</form>
</body>
</html>
