<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

</head>
<body>
<menu th:replace="fragments/head :: menu"></menu>
<main>
    <div  class="container mt-5">
        <h1 class="mb-4 text-center">🐾 상품 등록 🐾</h1>
        <h3 class="mb-4 text-center">무엇을 팔고 싶냐멍? 🐶</h3>
        <div class="card w-75 mx-auto">
            <div class="card-body">
                <form action="/sales/insertGoods" method="post" enctype="multipart/form-data" id="insertForm">
                    <div class="mb-3">
                        <label for="name" class="form-label">상품 이름</label>
                        <input type="text" class="form-control" id="name" name="name" minlength="1" required>
                    </div>

                    <div class="mb-3">
                        <label for="IMGFile" class="form-label">대표이미지</label>
                        <input type="file" class="form-control" id="IMGFile" name="IMGFile" required>
                    </div>

                    <div id="DetailsIMG" class="mb-3">
                    </div>
                    <div class="row">
                        <div class="mb-3 w-25">
                            <label for="category" class="form-label">카테고리</label>
                            <select id="category" name="categoryCode" class="form-select"></select>
                        </div>

                        <div class="mb-3 w-25">
                            <label for="price" class="form-label">가격</label>
                            <input type="number" class="form-control" id="price" name="price" required>
                        </div>

                        <div class="mb-3 w-25">
                            <label for="quantity" class="form-label">수량</label>
                            <input type="number" class="form-control" id="quantity" name="quantity" required>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="content" class="form-label">상세 설명</label>
                        <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">상세 이미지:</label>
                        <input type="file" class="form-control" id="imageInput"/>
                    </div>

                    <div id="imgAddDiv" class="mb-3">
                    </div>
                    <button class="btn btn-secondary" onclick="history.back()">뒤로가기</button>
                    <button type="submit" class="btn btn-primary float-end">등록</button>
                </form>
            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function() {
    // 카테고리 불러오기 Start
        $.ajax({
            type : "GET",
            url : "/sales/categoryList",
            dataType : "json",
            success : function(result) {
                for (var i = 0 ; i < result.length; i++) {
                    let htmlStr = `
                        <option value='`+result[i].categoryCode+`'>`+result[i].salesStatus+`</option>
                    `;
                    $('#category').append(htmlStr);
                }
            }
        });
    // 카테고리 불러오기 End
    // 이미지 road Start
        let imageFile;
       let imageFiles = [];

       $('#IMGFile').on('change', function(event) {
            console.log('실행');
           var file = event.target.files[0];
           if (file && file.type.startsWith('image/')) {
             var reader = new FileReader();
             reader.onload = function(e) {
               $('#DetailsIMG').html('<img src="' + e.target.result + '" alt="Selected Image" width="100px" height="100px">');
             }
             imageFile = file;
             reader.readAsDataURL(file);
           } else {
             alert('이미지 파일을 선택해주세요');
           }
       });

       $('#imageInput').on('change', function(event) {
            console.log('실행');
           var file = event.target.files[0];
           if (file && file.type.startsWith('image/')) {
             var reader = new FileReader();
             reader.onload = function(e) {
               $('#imgAddDiv').append('<img src="' + e.target.result + '" alt="Selected Image" width="200px" height="200px">');
             }
             imageFiles.push(file);
             reader.readAsDataURL(file);
           } else {
             alert('이미지 파일을 선택해주세요');
           }
       });
    // 이미지 road End
    // 폼 서브밋 Start

         $('#insertForm').submit(function(event){
            event.preventDefault();
            let formData = new FormData(this);
            formData.append('imageFile', imageFile);

            for (let i = 0; i < imageFiles.length; i++) {
                formData.append('imageFiles', imageFiles[i]);
            }

            $.ajax({
                url : "/sales/insertGoods",
                processData : false,
                contentType : false,
                type : 'POST',
                data : formData,
                success : function(data) {
                    alert('상품이 성공적으로 등록되었습니다.');
                    window.location.href = '/sales/salesListBusiness';
                },
                error: function(xhr, status, error) {
                    alert('상품 등록에 실패하였습니다. 다시 시도해주세요.');
                }
            });
        });
        // 폼 서브밋 End
    });
</script>
</body>
<footer th:replace="fragments/head :: footer"></footer>
</html>
