<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

</head>
<body>
<menu th:replace="fragments/head :: menu"></menu>
<main>
    <div class="container">
        <figure class="text-center">
            <h1 class="mb-4 text-center">🐾 멍샵 🐾</h1>
            <h3 class="mb-4 text-center"> 오늘 뭐 사개? 🐶</h3>
        </figure>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form id="searchForm" action="/sales/search" method="get" class="d-flex align-items-center">
                    <input type="text" name="keyword" class="form-control me-2" placeholder="제품명" aria-label="검색" required>
                    <button type="submit" class="btn btn-outline-success">🔎</button>
                </form>
            </div>
        </div>
        <div class="col-9 mt-3 tab-content" style="margin-left: 170px;">
            <div class="tab-pane fade show active" id="list-find">
                <div class="row">
                    <th:block th:each="salesGoods : ${salesGoodsList}">
                        <div class="col-md-4 mb-4 d-flex align-items-stretch listRow" th:data-no="${salesGoods.no}">
                            <div class="card" style="width: 100%;">
                                <div th:if="${salesGoodsMap[salesGoods.no].size() > 0}" class="card-body">
                                    <img th:src="@{/images/S/{file}(file=${salesGoodsMap[salesGoods.no][0].storedFileName})}" alt="대표 이미지" class="card-img-top" width="300" height="200">
                                </div>
                                <div th:if="${salesGoodsMap[salesGoods.no].size() > 0}" class="card-body">
                                <h5 class="card-title" th:text="${salesGoods.name}">
                                </h5>
                                <p class="card-text"th:text="${#numbers.formatCurrency(salesGoods.price)}"> </p>
                                <p class="card-text"th:text="'#' + ${salesGoods.categoryCode}"> </p>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <br>
    <!-- 페이징 네비게이션 추가 -->
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
<!--                &lt;!&ndash; 현재 페이지가 1일 경우 이전 페이지 버튼을 비활성화, currentPage가 null일 경우 1로 설정 &ndash;&gt;-->
<!--                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">-->
<!--                    <a class="page-link" th:href="@{/sales/salesList(page=${currentPage != null ? currentPage - 1 : 1})}" aria-label="Previous">-->
<!--                        <span aria-hidden="true">&laquo;</span>-->
<!--                    </a>-->
<!--                </li>-->
                <!-- 페이지 번호 버튼들, totalPages가 null인 경우 기본값을 1로 설정 -->
                <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages != null ? totalPages : 1)}" th:classappend="${i == currentPage} ? 'active'">
                    <a class="page-link" th:href="@{/sales/salesList(page=${i})}" th:text="${i}"></a>
                </li>
<!--                &lt;!&ndash; 현재 페이지가 마지막 페이지일 경우 다음 페이지 버튼을 비활성화, currentPage가 null일 경우 1로 설정 &ndash;&gt;-->
<!--                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">-->
<!--                    <a class="page-link" th:href="@{/sales/salesList(page=${currentPage != null ? currentPage + 1 : 1})}" aria-label="Next">-->
<!--                        <span aria-hidden="true">&raquo;</span>-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
        </nav>
    </div>
</main>

<script>
    document.getElementById('searchForm').addEventListener('submit', function(event) {
        var keyword = this.querySelector('input[name="keyword"]').value.trim();
        if (keyword === '') {
            event.preventDefault();
            alert('검색어를 입력해주세요.');
        }
    });
</script>
<script>
$(".listRow").on("click",function(){
let DataNo = $(this).attr('data-no');
console.log(DataNo);
location.href='/sales/selectGoods?no='+DataNo;
});
</script>

</body>
<footer th:replace="fragments/head :: footer"></footer>
</html>