<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <style>
        .table-img {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
    </style>
</head>
<body class="bg-light">
<menu th:replace="fragments/head :: menu"></menu>
<div class="container my-5">
    <h1 id="sales-list" class="mb-4 text-center">상품 판매 목록 - 판매자</h1>

    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th>상품명</th>
                        <th>가격</th>
                        <th>이미지</th>
                        <th>카테고리</th>
                        <th>관리</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="salesGoods : ${salesGoodsList}">
                        <td>
                            <a th:href="@{/sales/selectGoods(no=${salesGoods.no})}"
                               th:text="${salesGoods.name}"
                               class="text-decoration-none">
                            </a>
                        </td>
                        <td th:text="${salesGoods.price}"></td>
                        <td>
                            <div class="row">
                                <div th:if="${salesGoodsMap[salesGoods.no].size() > 0}" class="col-md-4 mb-3">
                                    <img th:src="@{/images/S/{file}(file=${salesGoodsMap[salesGoods.no][0].storedFileName})}" alt="대표 이미지" class="img-fluid">
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="badge bg-secondary" th:text="${salesGoods.categoryCode}"></span>
                        </td>
                        <td>
                            <a th:href="@{/sales/deleteGoods(no=${salesGoods.no})}"
                               class="btn btn-danger btn-sm">
                                삭제
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a class="navbar-brand" href="/sales/insertform"> 판매 상품 등록</a>
</div>
</body>
</html>