<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

</head>
<body class="bg-light">
<menu th:replace="fragments/head :: menu"></menu>
<main>
    <div class="container">
        <figure class="text-center">
            <h2>판매 상품 목록</h2>
        </figure>
        <div class="col-9 mt-3 tab-content">
            <div class="tab-pane fade show active" id="list-find">
                <div class="row">
                    <th:block th:each="salesGoods : ${salesGoodsList}">
                        <div class="col-md-4 mb-4 d-flex align-items-stretch">
                            <div class="card" style="width: 100%;">
                                <div th:if="${salesGoodsMap[salesGoods.no].size() > 0}" class="card-body">
                                    <img th:src="@{/images/S/{file}(file=${salesGoodsMap[salesGoods.no][0].storedFileName})}" alt="대표 이미지" class="img-fluid" width="300" height="200">
                                </div>
                                    <a th:href="@{/sales/selectGoods(no=${salesGoods.no})}"
                                       th:text="${salesGoods.name}"
                                       class="text-decoration-none"></a>
                                    <p th:text="${#numbers.formatCurrency(salesGoods.price)}"></p>
                                <span class="badge bg-secondary" th:text="${salesGoods.categoryCode}"></span>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>

</footer>
</body>
<footer th:replace="fragments/head :: footer"></footer>
</html>