<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Sales List</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>이미지</th>
            <th>Category Code</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="salesGoods : ${salesGoodsList}">

            <td><a th:href="@{/sales/selectGoods(no=${salesGoods.no})}" th:text="${salesGoods.name}"></a></td>
            <td th:text="${salesGoods.price}"></td>
            <td><span>대표 이미지</span></td>
            <td th:text="${salesGoods.categoryCode}"></td>
            <td><a th:href="@{/sales/deleteGoods(no=${salesGoods.no})}"><span>삭제버튼</span></a></td>

        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
