<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/index :: head}">
    <meta charset="UTF-8">
    <title>관리</title>
</head>
<body class="sb-nav-fixed">
<menu th:replace="~{admin/index :: headDiv}"></menu>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">찾아주개 관리</h1>
            <div class="card mb-4">
                <div class="card-body" id="dd">
                    잃어버린 강아지, 유기 의심 강아지를 찾아주는 게시글 입니다.
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    찾아주개 리스트
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>게시글 번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>카테고리</th>
                            <th>장소</th>
                            <th>작성일</th>
                            <th>삭제</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>게시글 번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>카테고리</th>
                            <th>장소</th>
                            <th>작성일</th>
                            <th>삭제</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <th:block th:each="findDog : ${findDogList}">
                            <tr class="findList">
                                <td th:text="${findDog.findDogNo}"></td>
                                <td><a th:href="@{'/finddog/detail?findDogNo=' + ${findDog.findDogNo}}" th:text="${findDog.title}"></a></td>
                                <td th:text="${findDog.writerId}"></td>
                                <th:block th:if="${findDog.category} == 'F'">
                                    <td>잃어버린 강아지 찾기</td>
                                </th:block>
                                <th:block th:if="${findDog.category} == 'M'">
                                    <td>유기 의심 공유</td>
                                </th:block>

                                <td th:text="${findDog.area}"></td>
                                <td th:text="${#dates.format(findDog.createDate, 'yyyy-MM-dd')}"></td>
                                <td><input type="button" class="btn btn-danger deleteBtn" value="삭제" th:data-find-dog-no="${findDog.findDogNo}"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
<script>
    $(document).ready(function() {
       $('.deleteBtn').click(function(){
            $.ajax({
                url : "/finddog/delete",
                type : 'POST',
                data: { findDogNo: $(this).attr('data-find-dog-no') },
                success : function(result) {
                    alert(result);
                    location.reload();
                }
            });
        });
   });
</script>
</body>
</html>
