<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/index :: head}">
    <meta charset="UTF-8">
    <title>관리</title>
</head>
<body class="sb-nav-fixed">
<menu th:replace="~{admin/index :: headDiv}"></menu>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">고객센터 관리</h1>
            <div class="card mb-4">
                <div class="card-body" id="dd">
                    1:1문의를 관리하는 페이지 입니다.
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    고객센터
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>게시글 번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>카테고리</th>
                            <th>결과</th>
                            <th>삭제</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>게시글 번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>카테고리</th>
                            <th>결과</th>
                            <th>삭제</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <th:block th:each="inquiry : ${inquiryList}">
                            <tr class="inquiryList">
                                <td th:text="${inquiry.inquiryNo}"></td>
                                <td><a th:href="@{'/help/inquiry/detail?inquiryNo=' + ${inquiry.inquiryNo}}" th:text="${inquiry.title}"></a></td>
                                <td th:text="${inquiry.writerId}"></td>
                                <td th:text="${inquiry.categoryName}"></td>
                                <th:block th:if="${inquiry.result} == 'N'">
                                    <td>대기</td>
                                </th:block>
                                <th:block th:if="${inquiry.result} == 'S'">
                                    <td>열람</td>
                                </th:block>
                                <th:block th:if="${inquiry.result} == 'Y'">
                                    <td>완료</td>
                                </th:block>
                                <td><input type="button" class="btn btn-danger deleteBtn" value="삭제" th:data-inquiry-no="${inquiry.inquiryNo}"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
<script>
    $(document).ready(function() {
       $('.deleteBtn').click(function(){
            $.ajax({
                url : "/help/inquiry/delete",
                type : 'POST',
                data: { inquiryNo: $(this).attr('data-inquiry-no') },
                success : function(result) {
                    alert(result);
                    location.reload();
                }
            });
        });
   });
</script>
</body>
</html>
