<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/index :: head}">
    <meta charset="UTF-8">
    <title>관리</title>
</head>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<body class="sb-nav-fixed">
<menu th:replace="~{admin/index :: headDiv}"></menu>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">유저 권한 설정</h1>
            <div class="card mb-4">
                <div class="card-body">
                    유저의 권한을 변경하는 페이지
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    유저 권한 변경
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>아이디</th>
                            <th>이름</th>
                            <th>가입일</th>
                            <th>탈퇴여부</th>
                            <th>권한</th>
                            <th>관리</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="member : ${memberList}">
                            <tr>
                                <td th:text="${member.no}"></td>
                                <td th:text="${member.id}"></td>
                                <td th:text="${member.name}"></td>
                                <td th:text="${member.signupDate}"></td>
                                <th:block th:if="${member.deleteAccountFlag} == 'N'">
                                    <td>활동중</td>
                                </th:block>
                                <th:block th:if="${member.deleteAccountFlag} == 'Y'">
                                    <td>탈퇴</td>
                                </th:block>
                                <td th:text="${member.role}"></td>
                                <td>
                                    <button type="button" class="btn btn-info deleteBtn" th:onclick="changeRole([[${member}]])">권한변경</button>
                                    <button th:if="${member.deleteAccountFlag} == 'Y'"
                                            type="button" class="btn btn-warning deleteBtn" th:onclick="recoverF([[${member}]])">회원 복구</button>
                                    <button th:if="${member.deleteAccountFlag} == 'N'"
                                            type="button" class="btn btn-danger deleteBtn" th:onclick="deleteF([[${member}]])">회원탈퇴</button>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<script>
    function changeRole(member) {
        if(member.role == "ROLE_ADMIN"){
            member.role = "ROLE_MEMBER";
        }
        else if(member.role == "ROLE_MEMBER"){
            member.role = "ROLE_ADMIN";
        }

        no = member.no;
        role = member.role

        console.log(no);
        console.log(role);

        $.ajax({
            url:"/member/updateMemberRole",
            type: "POST",
            data: {
		        no : no,
		        role : role
	        },
            success: function (data){
                alert('권한이 변경 되었습니다.');
                location.reload();
            },
            error: function (xhr){
                console.log(xhr);
            }
        })
    }

    function deleteF(member) {
        let id = member.id;
        console.log(id);

        $.ajax({
            url:"/member/deleteUser",
            type: "POST",
            data: {
		        id : id
	        },
            success: function (data){
                alert(data);
                location.reload();
            }
        })
    }

    function recoverF(member) {
        let id = member.id;
        console.log(id);

        $.ajax({
            url:"/member/recoverUser",
            type: "POST",
            data: {
		        id : id
	        },
            success: function (data){
                alert(data);
                location.reload();
            }
        })
    }
</script>

</body>
</html>
