<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/index :: head}">
    <meta charset="UTF-8">
    <title>관리</title>
</head>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<body class="sb-nav-fixed">
<menu th:replace="~{admin/index :: headDiv}"></menu>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">순찰일지 관리</h1>
            <div class="card mb-4">
                <div class="card-body">
                    순찰일지를 조회하고 삭제하는 페이지
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    순찰일지 관리
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>일지번호</th>
                            <th>아이디</th>
                            <th>작성자</th>
                            <th>제목</th>
                            <th>관리</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="precord : ${precordList}">
                            <tr>
                                <td th:text="${precord.precordNo}"></td>
                                <td th:text="${precord.userId}"></td>
                                <td th:text="${precord.userName}"></td>
                                <td><a th:href="@{'/patrolRecord/patrolRecordView?precordNo=' + ${precord.precordNo}}" th:text="${precord.title}"></a></td>
                                <td><button type="button" class="btn btn-danger deleteBtn" th:onclick="deleteprecord([[${precord.precordNo}]])">삭제</button></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<script>
    function deleteprecord(precordno) {

            $.ajax({
                type:'post',
                url: "/patrolRecord/patrolRecordDeleteAdmin",
                data: {precordNo : precordno},
                success : function(data){
                    location.reload();
                },
                error: function (xhr){
                    console.log(xhr);
                }
            }); // $.ajax()
        }
</script>

</body>
</html>
