<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8">
    <title>집사 회의 게시판 목록</title>
    <style>

        .table th, .table td {
            vertical-align: middle;
        }

    </style>
</head>
<body class="container mt-5">
<menu th:replace="fragments/head :: menu"></menu>

<h1 class="mb-4 text-center">🐾 집사 회의 게시판 🐾</h1>
<h3 class="mb-4 text-center">견주들만의 고민을 공유하시개! 🐶</h3>

<!-- 추천순/최신순 / 새 글 작성 -->
<div class="d-flex justify-content-between mb-3">
    <div>
        <form action="/community/conference" method="get" class="d-inline me-2">
            <input type="hidden" name="sort" value="date"/>
            <input type="hidden" name="keyword" th:value="${keyword}"/>
            <button type="submit" class="btn btn-outline-primary btn-sm" th:text="${sort == 'date' ? '🐶 최신순(현재)' : '🐶 최신순'}"></button>
        </form>
        <form action="/community/conference" method="get" class="d-inline">
            <input type="hidden" name="sort" value="recommendCount"/>
            <input type="hidden" name="keyword" th:value="${keyword}"/>
            <button type="submit" class="btn btn-outline-primary btn-sm" th:text="${sort == 'recommendCount' ? '❤️ 추천순(현재)' : '❤️ 추천순'}"></button>
        </form>
    </div>
    <!-- 검색 -->
    <form action="/community/conference" method="get" class="d-flex">
        <input type="hidden" name="sort" th:value="${sort}">
        <input type="text" name="keyword" class="form-control me-2" placeholder="제목을 입력하세요" aria-label="검색" th:value="${keyword}">
        <button type="submit" class="btn btn-outline-success">🔎</button>
    </form>

    <div>
        <a href="/community/conference/create" onclick="return checkLogin()" class="btn btn-primary btn-sm me-2">🦴 새 글 작성하기</a>
    </div>
</div>

<!-- 게시글 목록 (테이블 형식) -->
<table class="table table-striped">
    <thead>
    <tr>
        <th> </th>
        <th>제목</th>
        <th>작성자</th>
        <th>내용</th>
        <th>작성일</th>
        <th>추천수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="conference : ${conference}">
        <td th:text="${conference.conferenceNo}"></td>
        <td>
            <a th:href="@{/community/conference/{conferenceNo}(conferenceNo=${conference.conferenceNo})}" th:text="${conference.title}"></a>
        </td>
        <td th:text="${conference.userId}"></td>
        <td th:text="${#strings.abbreviate(conference.content, 50)}"></td>
        <td th:text="${#temporals.format(conference.createTime, 'yyyy-MM-dd')}"></td>
        <td th:text="${conference.recommendCount + ' ❤️'}"></td>
        <td>
            <div th:if="${#authentication.name == 'admin'}" class="mt-2">
                <a th:href="@{/conference/delete/{conferenceNo}(conferenceNo=${conference.conferenceNo})}" class="btn btn-sm btn-danger" onclick="return confirmDelete();">삭제</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>


<!-- 페이징 부분 -->
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link" th:href="@{/community/conference(page=${currentPage - 1}, sort=${sort}, keyword=${keyword})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link" th:href="@{/community/conference(page=${i}, sort=${sort}, keyword=${keyword})}" th:text="${i}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/community/conference(page=${currentPage + 1}, sort=${sort}, keyword=${keyword})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


</body>
<footer th:replace="fragments/head :: footer"></footer>
<script>
    function confirmDelete() {
        return confirm("삭제하시겠습니까?");
    }
</script>
</html>
