<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8">
    <title>내 새꾸 자랑 글쓰기</title>
    <style>
        .img-preview {
          width: 150px;
          height: 150px;
          object-fit: cover;
      }
    </style>
</head>
<body>
<menu th:replace="fragments/head :: menu"></menu>
<main>

<div class="container">
    <h1 class="mb-4 text-center">🐾 내 새꾸 자랑 🐾</h1>
    <h3 class="mb-4 text-center">우리 아이의 사랑스러운 순간들을 자랑하시개! 🐶</h3>
    <div class="card w-75 mx-auto">
        <div class="card-body">
            <form id="submitForm" action="/community/doglove" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">제목:</label>
                <input type="text" id="title" name="title" class="form-control" required placeholder="제목을 입력해주시개">
            </div>
                <div class="mb-3">
                <label for="content" class="form-label">내용:</label>
                <textarea id="content" name="content" class="form-control" rows="5" required placeholder="내용을 입력해주시개"></textarea>
            </div>
            <div class="mb-3">
                <label for="imageInput" class="form-label">사진:</label>
                <input type="file" id="imageInput" name="imageFiles" multiple class="form-control" accept="image/*">
            </div>
            <div id="imgAddDiv" class="row g-2">
            </div>
            <div class="text-end mt-3">
                <button type="submit" class="btn btn-primary" onsubmit="return confirm('게시글을 저장할까요?');">저장하기</button>
            </div>
        </form>
        <button class="btn btn-secondary" onclick="history.back()" style="margin-right: 10px;" >뒤로가기</button>
    </div>

</div>
</div>
<script>
    $(document).ready(function() {
        let imageFiles = [];
        $('#imageInput').on('change', function(event) {
            $('#imgAddDiv').empty();
            imageFiles = Array.from(event.target.files);

            imageFiles.forEach(file => {
                if (file && file.type.startsWith('image/')) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $('#imgAddDiv').append(
                            `<div class="col-3 mb-2">
                                <img src="${e.target.result}" alt="Selected Image" class="img-thumbnail">
                            </div>`
                        );
                    }
                    reader.readAsDataURL(file);
                } else {
                    alert('이미지 파일만 선택해주세요');
                    imageFiles = imageFiles.filter(f => f !== file);

                }
            });
        });

        $('#submitForm').submit(function(event) {
            event.preventDefault();

            let title = $('#title').val();
            let content = $('#content').val();
            let formData = new FormData();
            formData.append('title', title);
            formData.append('content', content);

            // 제목과 내용이 비어 있는지 확인
            if (title.trim() === '' || content.trim() === '') {
                alert('제목과 내용은 필수 입력 항목입니다.');
                return;
            }
            //내 새꾸 자랑에만
            if (imageFiles.length === 0) {
                alert('이미지는 필수 첨부입니다.');
                return;
            }

            imageFiles.forEach(file => {
                formData.append('imageFiles', file);
            });

            $.ajax({
                url: "/community/doglove",
                processData: false,
                contentType: false,
                type: 'POST',
                data: formData,
                success: function(response) {
                    alert('성공적으로 등록되었습니다.');
                    window.location.href = '/community/doglove';
                },
                error: function(xhr, status, error) {
                    alert('등록에 실패했습니다. 다시 시도해 주세요.');
                }
            });
        });
    });
</script>
</main>
</body>
<footer th:replace="fragments/head :: footer"></footer>
</html>