<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <title>메인페이지</title>
</head>
<body>
<menu th:replace="~{fragments/head :: menu}"></menu>
<main class="container mt-5">
    <div class="text-center">
        <div>
            <img src="https://kr.object.ncloudstorage.com/team-5/HappyTailsMain.png" alt="Main-logo" width="55%">
        </div>
    </div>
    <br>
    <br>
    <div class="text-center">
        <div class="row">
            <div class="col">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <h2>이 달의 인기글 (추천수)</h2>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="chatDogDTO, stat : ${chatDogUpList}">
                            <tr>
                                <th:block th:if="${chatDogStoredImages.get(stat.index)} != ''">
                                    <td>
                                        <img th:src="@{/images/C/{file}(file=${chatDogStoredImages.get(stat.index)})}" alt="Main-logo" width="100px" height="100px">
                                    </td>
                                </th:block>
                                <th:block th:if="${chatDogStoredImages.get(stat.index)} == ''">
                                    <td>
                                        <img src="https://kr.object.ncloudstorage.com/team-5/Non-Img.png" alt="Main-logo" width="100px" height="100px">
                                    </td>
                                </th:block>
                                <td class="d-flex flex-column justify-content-center align-items-center" style="height: 110px; margin: auto;">
                                    <!--                            14px 0px 0px 0px;">-->
                                    <a th:href="@{/community/chatdog/{chatdogNo}(chatdogNo=${chatDogDTO.chatdogNo})}">
                                        <p th:text="${chatDogDTO.title}"></p>
                                    </a>
                                    <p th:text="${chatDogDTO.userId}"></p>
                                </td>
                            </tr>
                        </th:block>

                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <h2>뉴스</h2>
                        </tr>
                    </thead>
                    <tbody th:each="item, stat  : ${rssNews}" th:if="${stat.index < 5}" >
                        <tr>

                            <td>
                                <img src="https://kr.object.ncloudstorage.com/team-5/Non-Img.png" alt="Main-logo" width="100px">
                            </td>
                            <td class="d-flex flex-column justify-content-center align-items-center" style="height: 110px; margin: auto;">
                                <!--                            14px 0px 0px 0px;">-->
                                <a th:href="${item.link}">
                                <p th:text="${item.title}"></p>
                                </a>
                                <p th:text="${item.pubDate}"></p>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <br>
        <h2>오늘의 댕댕이</h2>
        <br>
        <div>
            <th:block th:each="dogLoveStoredImage, stat : ${dogLoveStoredImages}">
                <th:block th:if="${dogLoveStoredImage} != ''">
                    <img th:src="@{/images/L/{file}(file=${dogLoveStoredImage})}" alt="Main-logo" width="150px" height="150px" class="mb-3 mx-3">
                </th:block>
                <th:block th:if="${dogLoveStoredImage} == ''">
                    <img src="https://kr.object.ncloudstorage.com/team-5/Non-Img.png" alt="Main-logo" width="150px" height="150px" class="mb-3 mx-3">
                </th:block>
            </th:block>
        </div>
    </div>
</main>
</body>
<footer th:replace="fragments/head :: footer"></footer>
</html>
