<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8">
    <title>찾아주개</title>
</head>
<body>
<menu th:replace="fragments/head :: menu"></menu>
<main>
    <div class="container">
        <h1 class="mb-4 text-center">🐾 찾아주개 🐾</h1>
        <h3 class="mb-4 text-center">잃어버린 반려견, 함께 찾습니다. 🐶</h3>
        <div class="card w-75 mx-auto">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">제목</dt>
                    <dd class="col-sm-9"><th:block th:text="${findDogDto.title}"></th:block></dd>
                    <dt class="col-sm-3">작성자</dt>
                    <dd class="col-sm-9"><th:block th:text="${findDogDto.writerId}"></th:block></dd>
                    <dt class="col-sm-3">장소</dt>
                    <dd class=" col-sm-9">
                        <th:block th:text="${findDogDto.area}"></th:block>
                    </dd>
                    <dt class="col-sm-3">카테고리</dt>
                    <dd class="col-sm-9">
                        <th:block th:if="${findDogDto.category} == 'M'">
                            <p>유기의심공유</p>
                        </th:block>
                        <th:block th:if="${findDogDto.category} == 'F'">
                            <p>잃어버린강아지 찾기</p>
                        </th:block>
                    </dd>

                    <dt class="col-sm-3">내용</dt>
                    <dd class="col-sm-9" style="white-space: pre-wrap;" th:text="${findDogDto.content}">
                    </dd>

                    <th:block th:if="${uploadDtos != null}">
                        <th:block th:each="uploadDto, iterStat : ${uploadDtos}">
                            <dd class="text-center">
                                <img th:src="@{/images/F/{file}(file=${uploadDto.storedFileName})}" alt="..." width="600px" height="500px">
                            </dd>
                        </th:block>
                    </th:block>

                    <dt class="col-sm-3">위치</dt>
                    <div class="d-flex justify-content-center">
                        <div id="map" style="width:800px;height:500px;"></div>
                    </div>
                </dl>

                <!-- 작성자만 보이게 -->
                <div th:if="${findDogDto.writerId} == ${#authentication.principal.username}">
                    <th:block th:if="${findDogDto.state} == 'N'">
                        <input type="button" class="btn btn-warning float-end" id="stateUpdateBtn" value="해결">
                    </th:block>
                    <input type="button" class="btn btn-danger float-end" id="deleteBtn" value="삭제">
                    <input type="button" class="btn btn-success float-end" id="updatePageBtn" value="수정">
                </div>

                <br>
                <div class="mb-3">
                    <label for="content" class="form-label">댓글</label>
                    <textarea class="form-control" id="content" rows="3"></textarea>
                </div>
                <div>
                    <input type="button" class="btn btn-primary float-end" value="작성" id="createBtn"/>
                </div>
                <div>
                    <table class="table table-hover" id="tableDiv">
                    </table>
                </div>
            </div>
        </div>
</main>
<!-- 스크립트 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3410cbe0e56cd0dca8e1c3bc13dec0a4&libraries=services"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/help/function.js"></script>
<script>

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng([[${findDogDto.latitude}]], [[${findDogDto.longitude}]]), // 지도의 중심좌표
            level: 1 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 마커가 표시될 위치입니다
    var markerPosition  = new kakao.maps.LatLng([[${findDogDto.latitude}]], [[${findDogDto.longitude}]]);

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);

    $(document).ready(function(){
        getReplyList();

        let params = new URLSearchParams(location.search);
        let findDogNo = params.get('findDogNo');

        // 삭제 버튼 Start
        $('#deleteBtn').click(function(){
            if (confirm("삭제 하시겠습니까?")) {
                $.ajax({
                    url: "/finddog/delete",
                    type: 'POST',
                    data: {"findDogNo": findDogNo},
                    success: function (result) {
                        alert(result);
                        location.href = "/finddog/main";
                    }
                });
            }
        });
        // 삭제 버튼 End

        // 수정 버튼 Start
        $('#updatePageBtn').click(function(){
            location.href='/finddog/update?findDogNo='+findDogNo;
        });
        // 수정 버튼 End

        // 해결 버튼 Start
        $('#stateUpdateBtn').click(function(){
            if (confirm("해결 상태로 변경 하시겠습니까?")) {
                $.ajax({
                    url: "/finddog/stateUpdate",
                    type: 'POST',
                    data: {"findDogNo": findDogNo},
                    success: function (result) {
                        alert(result);
                        location.href='/finddog/detail?findDogNo='+findDogNo;
                    }
                });
            }
        });
        // 해결 버튼 End


        // 댓글 작성 버튼 Start
        $('#createBtn').click(function(){
            let content = $('#content').val();

            let formData = new FormData();

            let dataArr = [content];

            let result = handleNullInArray(dataArr);

            if (result == 0) {
                alert('값이 비어있습니다.');
                return;
            }

            formData.append('content',content);
            formData.append('findDogNo',findDogNo);

            $.ajax({
                url : "/finddog/replyWrite",
                processData : false,
                contentType : false,
                type : 'POST',
                data : formData,
                success : function(result) {
                    alert(result);
                    $('#content').val('');
                    getReplyList();
                }
            });
        });
        // 댓글 작성 버튼 End

        // 댓글 삭제 버튼 Start
        $('#tableDiv').on('click','.reply-delete-btn',function(){

            let findDogReplyNo = $(this).closest('tr').attr('data-reply-no');

            if (confirm("삭제 하시겠습니까?")) {
                $.ajax({
                    url: "/finddog/replyDelte",
                    type: 'POST',
                    data: {"findDogReplyNo": findDogReplyNo},
                    success: function (result) {
                        alert(result);
                        location.href = "/finddog/detail?findDogNo=" + findDogNo;
                    }
                });
            }
        });
        // 댓글 삭제 버튼 End

        // 댓글 수정 버튼 Start
        $('#tableDiv').on('click','.reply-update-btn',function(){

            let findDogContent = $(this).closest('tr').attr('data-reply-content');
            let contentTd = $(this).closest('tr').find('td:nth-child(3)');

            let htmlStr = `
                <input type="text" class="replyContent" value="`+findDogContent+`">
                <input type="button" value="작성" class="replyUpdateBtn">
                <input type="button" value="취소" class="replyUpdateClose">
            `;

            contentTd.html(htmlStr);

        });
        // 댓글 수정 버튼 End

        // 댓글 수정 취소 버튼 Start
        $('#tableDiv').on('click','.replyUpdateClose',function() {
            let contentTd = $(this).closest('tr').find('td:nth-child(3)');
            let findDogContent = $(this).closest('tr').attr('data-reply-content');

            contentTd.html(findDogContent);
        });
        // 댓글 수정 취소 버튼 End

        // 댓글 수정 작성 버튼 Start
        $('#tableDiv').on('click','.replyUpdateBtn',function() {
            let findDogReplyNo = $(this).closest('tr').attr('data-reply-no');
            let content = $(this).closest('tr').find('.replyContent').val();

            let dataArr = [content];

            let result = handleNullInArray(dataArr);

            if (result == 0) {
                alert('값이 비어있습니다.');
                return;
            }

            let formData = new FormData();

            formData.append('findDogReplyNo',findDogReplyNo);
            formData.append('content',content);


            if (confirm("수정 하시겠습니까?")) {
               $.ajax({
                    url : "/finddog/replyUpdate",
                    processData : false,
                    contentType : false,
                    type : 'POST',
                    data : formData,
                    success: function (result) {
                        alert(result);
                        location.reload();
                    }
                });
            }


        });
        // 댓글 수정 작성 버튼 End

    });

    // 댓글 리스트 불러오기 Start

    function getReplyList() {
        let params = new URLSearchParams(location.search);
        let findDogNo = params.get('findDogNo');

        $('#tableDiv').html('');

        $.ajax({
            type : "GET",
            url : "/finddog/getReplyList?findDogNo="+findDogNo,
            dataType : "json",
            success : function(result) {
                console.log(result);
                let template = '';
                template = `
                        <thead>
                            <tr>
                                <th scope="col">작성자</th>
                                <th scope="col">생성 날짜</th>
                                <th scope="col">내용</th>
                                <th scope="col">수정/삭제</th>
                            </tr>
                        </thead>
                    `;
                for(let i = 0; i < result.length; i++) {
                    template += `
                            <tbody>
                                <tr class="listRow" data-reply-no="`+result[i].findDogReplyNo+`" data-reply-content="`+result[i].content+`">
                                    <td>`+result[i].writerId+`</td>
                                    <td>`+dataFormat1(result[i].createDate)+`</td>
                                    <td>`+result[i].content+`</td>
                                    <td><input type="button" class="btn btn-success reply-update-btn" value="수정"><input type="button" class="btn btn-danger reply-delete-btn" value="삭제"></td>
                                </tr>
                            </tbody>
                        `;
                }
                $('#tableDiv').append(template);
            }
        });
    }
    // 댓글 리스트 불러오기 End

</script>
</body>
</html>