<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8">
    <title>찾아주개</title>
</head>
<body>
<menu th:replace="fragments/head :: menu"></menu>
<main class="container py-4">
    <div>
        <h1 class="mb-4 text-center">🐾 찾아주개 🐾</h1>
        <h3 class="mb-4 text-center">잃어버린 반려견, 함께 찾습니다. 🐶</h3>
        <div>
            <div class="row">
                    <div class="col-md-10 py-3" style="margin-left: 250px;">
                        <form class="row align-items-end">
                            <div class="col-md-3">
                                <select class="form-select" id="state">
                                    <option value="" selected>상태(전체)</option>
                                    <option value="N">미해결</option>
                                    <option value="Y">해결</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="area" class="form-control" placeholder="장소를 입력하세요">
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="title" class="form-control" placeholder="제목을 입력하세요">
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-outline-success" id="searchBtn">🔎</button>
                            </div>
                        </form>
                    </div>
                </div>

            <div class="row" style="margin-bottom: 10px; margin-left: 3px; width: 980px;">
                <div class="list-group flex-row col-4" id="list-tab" role="tablist">
                    <a class="border border-secondary list-group-item list-group-item-action active" data-bs-toggle="list" role="tab" aria-controls="list-find" id="tab1">잃어버린 강아지</a>
                    <a class="border border-secondary list-group-item list-group-item-action" data-bs-toggle="list" role="tab" aria-controls="list-misgiving" id="tab2">유기 의심 공유</a>
                </div>
            </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="findListDiv">

        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="misgivingListDiv">

        </div>

    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="pagination">
                </ul>
            </nav>

        </div>
    <div class="d-flex justify-content-end">
        <input type="button" class="btn btn-primary" value="글작성" style="" id="writePageBtn"/>
    </div>
</main>
<menu th:replace="fragments/head :: footer"></menu>
<!-- 스크립트 -->
<script src="/js/help/function.js"></script>
<script src="/js/help/page.js"></script>
<script>

    let listSwtich = 0;

    $(document).ready(function(){

        getList(1);

        // 글쓰기 페이지 이동 버튼 Start
        $("#writePageBtn").click(function(){
            location.href="/finddog/write";
        });
        // 글쓰기 페이지 이동 버튼 End

        // 잃어버린 강아지 탭 클릭 시 Start
        $('#tab1').click(function(){
            listSwtich = 0;
            $('#state').val('');
            $('#title').val('');
            $('#area').val('');
            getList(1);
        });
        // 잃어버린 강아지 탭 클릭 시 End

        // 유기의심공유 탭 클릭 시 Start
        $('#tab2').click(function(){
            listSwtich = 1;
            $('#state').val('');
            $('#title').val('');
            $('#area').val('');
            getList(1);
        });
        // 유기의심공유 탭 클릭 시 End
    });

    // list 불러오기 Start
    function getList(nowPage,searchMap) {
        $('#misgivingListDiv').html('');
        $('#findListDiv').html('');

        // 입력 필드와 셀렉트박스에서 값을 가져옴
        let titleValue = $('#title').val();
        let categoryValue = 'F';

        if (listSwtich == 0) {
            categoryValue = 'F';
            $('#findListDiv').addClass('g-4');
            $('#misgivingListDiv').removeClass('g-4');
        } else {
            categoryValue = 'M';
            $('#misgivingListDiv').addClass('g-4');
            $('#findListDiv').removeClass('g-4');
        }

        let stateValue = $('#state').val();
        let areaValue = $('#area').val();

        // 맵과 유사한 구조로 데이터를 생성
        let dataMap = {
            title: titleValue,
            category: categoryValue,
            state: stateValue,
            area: areaValue,
            nowPage: nowPage
        };

        // 쿼리 문자열 생성
        let queryString = $.param(dataMap);

        $.ajax({
            type : "GET",
            url : "/finddog/getList?"+queryString,
            dataType : "json",
            success : function(result) {
                console.log(result);
                let template = '';
                let stateStr = '미해결';
                let stateClass = "bg-secondary";
                for (var i = 0; i < result.viewAll.length; i++) {
                    if (result.viewAll[i].state == 'Y') {
                        stateStr = '해결';
                        stateClass = "bg-success";
                    }
                    template += `
                        <div class="col listRow" data-find-dog-no="`+result.viewAll[i].findDogNo+`">
                            <div class="card h-100">
                                <div class="ratio ratio-1x1">
                                <img src="/images/F/`+result.imageMap[result.viewAll[i].findDogNo]+`" class="card-img-top object-fit-cover" onerror="this.onerror=null; this.src='https://kr.object.ncloudstorage.com/team-5/Non-Img.png';">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">`+result.viewAll[i].title+`</h5>
                                    <p class="card-text">장소: `+result.viewAll[i].area+`</p>
                                    <p><span class="badge rounded-pill `+stateClass+`">`+stateStr+`</span></p>
                                </div>
                            </div>
                        </div>
                        `;
                }
                getpaging(result);
                if (listSwtich == 0) {
                    $('#findListDiv').append(template);
                } else {
                    $('#misgivingListDiv').append(template);
                }
            }
        });
    }
    // list 불러오기 End
    // 검색 click 이벤트 Start
    $("#searchBtn").click(function(){
        getList(1);
    });
    // 검색 click 이벤트 End

    // 글 클릭 시 페이지 이동 Start
    $("#findListDiv").on("click",".listRow",function(){
        let findDogNo = $(this).attr('data-find-dog-no');
        console.log(findDogNo);
        location.href='/finddog/detail?findDogNo='+findDogNo;
    });
    // 글 클릭 시 페이지 이동 End

    // 글 클릭 시 페이지 이동 Start
    $("#misgivingListDiv").on("click",".listRow",function(){
        let findDogNo = $(this).attr('data-find-dog-no');
        location.href='/finddog/detail?findDogNo='+findDogNo;
    });
    // 글 클릭 시 페이지 이동 End

</script>
</body>
</html>