<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8">
    <title>찾아주개</title>
</head>
<body>
<menu th:replace="fragments/head :: menu"></menu>
<main>
    <div class="container">
        <h1 class="mb-4 text-center">🐾 찾아주개 🐾</h1>
        <h3 class="mb-4 text-center">잃어버린 반려견, 함께 찾습니다. 🐶</h3>
        <div class="card w-75 mx-auto">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" id="inquiryForm">
                    <div class="mb-3">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" class="form-control" name="title" id="title">
                    </div>
                    <div class="row">

                    <div class="form-group mb-3 w-25">
                        <label for="category" class="form-label">카테고리</label>
                        <select class="form-select form-select-sm category" id="category">
                            <option value="F">잃어버린강아지</option>
                            <option value="M">유기의심공유</option>
                        </select>
                    </div>
                        <div class="form-group mb-3 w-50 ms-5">
                            <label for="lostTime" class="form-label">시간</label>
                            <input type="datetime-local" class="form-control" name="lostTime" id="lostTime">
                        </div>
                    </div>

                        <div class="row">

                        <div class="form-group mb-3 w-25">
                            <label for="dogName" class="form-label">강아지 이름</label>
                            <input type="text" class="form-control" name="dogName" id="dogName">
                        </div>
                        <div class="form-group mb-3 w-25 ms-5">
                            <label for="breed" class="form-label">품종</label>
                            <input type="text" class="form-control" name="breed" id="breed">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="content" class="form-label">내용</label>
                        <textarea class="form-control" name="content" id="content" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="imageInput" class="form-label">이미지 첨부</label>
                        <input class="form-control" type="file" id="imageInput">
                    </div>
                    <div id="imgAddDiv">

                    </div>

                    <h2>위치</h2>
                    <div class="row ms-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="row">
                                    <input type="text" class="form-control mb-2" id="zipp_code_id" name="zipp_code" maxlength="10" placeholder="우편번호" style="width: 50%; display: inline;" hidden="hidden">
                                    <input type="button" id="zipp_btn" class="btn btn-primary col-4 mb-3" onclick="execDaumPostcode()" value="지도 위치 이동"><br><br>
                                    <input type="button" class="btn btn-primary col-4 mx-3 mb-3" id="myMapMove" value="내 위치로 이동"><br>
                                    <input type="text" class="form-control mb-2" name="user_add1" id="UserAdd1" maxlength="40" placeholder="기본 주소를 입력하세요" hidden="hidden" required>
                                    <input type="text" class="form-control" name="user_add2" id="UserAdd2" maxlength="40" placeholder="상세 주소를 입력하세요" hidden="hidden">
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div id="map" style="width:800px;height:500px;"></div>
                    </div>

                    <input type="button" class="btn btn-primary float-end" value="작성" id="createBtn"/>

                </form>
            </div>
        </div>
    </div>
</main>
<!-- 스크립트 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3410cbe0e56cd0dca8e1c3bc13dec0a4&libraries=services"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.0.0/luxon.min.js"></script>
<script src="/js/help/function.js"></script>
<script>

    let latitude = 0; //위도
    let longitude = 0; //경도
    let area = ''; //장소

    var addr = '';
    var geocoder = '';
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 1 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    var marker = new kakao.maps.Marker(), // 클릭한 위치를 표시할 마커입니다
        infowindow = new kakao.maps.InfoWindow({zindex:1}); // 클릭한 위치에 대한 주소를 표시할 인포윈도우입니다

    // 지도를 클릭했을 때 클릭 위치 좌표에 대한 주소정보를 표시하도록 이벤트를 등록합니다
    kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
        searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var detailAddr = !!result[0].road_address ? result[0].road_address.address_name : result[0].address.address_name;

                var content = '<div class="bAddr">' +
                    detailAddr +
                    '</div>';

                // 마커를 클릭한 위치에 표시합니다
                marker.setPosition(mouseEvent.latLng);
                marker.setMap(map);

                // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                infowindow.setContent(content);
                infowindow.open(map, marker);

                latitude = marker.getPosition().Ma; //위도
                longitude = marker.getPosition().La; //경도
                area = detailAddr; //장소
            }
        });
    });

    function searchDetailAddrFromCoords(coords, callback) {
        // 좌표로 법정동 상세 주소 정보를 요청합니다
        geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
    }

    // 주소-좌표 변환 객체를 생성합니다
    geocoder = new kakao.maps.services.Geocoder();

    function mapMove(geocoder, addr) {
        // 주소로 좌표를 검색합니다
        geocoder.addressSearch(addr, function(result, status) {

            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);
            }
        });
    }

    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업을 통한 검색 결과 항목 클릭 시 실행
                addr = ''; // 주소_결과값이 없을 경우 공백
                var extraAddr = ''; // 참고항목

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 도로명 주소를 선택
                    addr = data.roadAddress;
                } else { // 지번 주소를 선택
                    addr = data.jibunAddress;
                }

                if(data.userSelectedType === 'R'){
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                } else {
                    document.getElementById("UserAdd1").value = '';
                }

                // 선택된 우편번호와 주소 정보를 input 박스에 넣는다.
                document.getElementById('zipp_code_id').value = data.zonecode;
                document.getElementById("UserAdd1").value = addr;
                document.getElementById("UserAdd1").value += extraAddr;
                document.getElementById("UserAdd2").focus(); // 우편번호 + 주소 입력이 완료되었음으로 상세주소로 포커스 이동

                mapMove(geocoder,addr);
            }
        }).open();
    }

    $('#UserAdd2').keyup(function(event) {
        $("#infoMap").html($('#UserAdd2').val());
    });

    function showError(error) {
        switch(error.code) {
            case error.PERMISSION_DENIED:
                alert("사용자가 Geolocation 요청을 거부했습니다.");
                break;
            case error.POSITION_UNAVAILABLE:
                alert("위치 정보를 사용할 수 없습니다.");
                break;
            case error.TIMEOUT:
                alert("위치 정보를 가져오는 데 시간이 초과되었습니다.");
                break;
            case error.UNKNOWN_ERROR:
                alert("알 수 없는 오류가 발생했습니다.");
                break;
        }
    }

    function showPosition(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        console.log("위도: " + latitude + "<br>경도: " + longitude);
        var moveLatLon = new kakao.maps.LatLng(latitude,longitude);
        map.setCenter(moveLatLon);
        fetch('/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({latitude: latitude, longitude: longitude})
        }).then(response => response.text())
            .then(data => data);
    }

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    $('#myMapMove').click(function(){
        getLocation();
    });

    // 이미지 road Start
    let imageFiles = [];
    $('#imageInput').on('change', function(event) {
        console.log('실행');
        var file = event.target.files[0];
        if (file && file.type.startsWith('image/')) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#imgAddDiv').append('<img src="' + e.target.result + '" alt="Selected Image" width="100px" height="100px">');
            }
            imageFiles.push(file);
            reader.readAsDataURL(file);
        } else {
            alert('이미지 파일을 선택해주세요');
        }
    });
    // 이미지 road End

    // 폼 서브밋 Start
    $('#createBtn').click(function(){
        let title = $('#title').val();
        let content = $('#content').val();
        let category = $('#category').val();
        let breed = $('#breed').val();
        let lostTime = $('#lostTime').val();
        let dogName = $('#dogName').val();

        let dataArr = [title,content,category,breed,latitude,longitude, area, lostTime, dogName];

        let result = handleNullInArray(dataArr);

        if (result == 0) {
            alert('값이 비어있습니다.');
            return;
        }

        let lostTimeFormat = luxon.DateTime.fromISO(lostTime).toFormat('yyyy-MM-dd HH:mm:ss');

        console.log(lostTimeFormat);

        let formData = new FormData();
        formData.append('title',title);
        formData.append('content',content);
        formData.append('category',category);
        formData.append('breed',breed);
        formData.append('latitude',latitude);
        formData.append('longitude',longitude);
        formData.append('area',area);
        formData.append('lostTime',lostTimeFormat);
        formData.append('dogName',dogName);

        for (let i = 0; i < imageFiles.length;i++) {
            formData.append('imageFiles',imageFiles[i]);
        }

        $.ajax({
            url : "/finddog/write",
            processData : false,
            contentType : false,
            type : 'POST',
            data : formData,
            success : function(result) {
                alert(result);
                location.href="/finddog/main";
            }
        });

    });
    // 폼 서브밋 End

</script>
</body>
</html>