<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.happytails.help.model.dao.HelpMapper">

    <select id="helpCategorySelectList">
        SELECT * FROM TB_HELP_CATEGORY
    </select>

    <insert id="inquiryInsert">
        INSERT INTO TB_INQUIRY (HELP_CATEGORY_CODE, WRITER_ID, TITLE, CONTENT)
        VALUES (#{helpCategoryCode}, #{writerId}, #{title}, #{content})
    </insert>

    <select id="getCurrentInquiryNo">
        SELECT INQUIRY_NO
        FROM TB_INQUIRY
        ORDER BY INQUIRY_NO DESC
        LIMIT 1
    </select>

    <select id="questionList">
        SELECT *
        FROM tb_question
        <where>
            <if test="categoryCode != null">
                AND HELP_CATEGORY_CODE = #{categoryCode}
            </if>
        </where>
    </select>

    <select id="inquiryListCount">
        SELECT COUNT(*) AS CNT
        FROM TB_INQUIRY
        <where>
            <if test="searchMap != null">
                <if test="searchMap.title != '' and searchMap.title != null">
                    AND TITLE LIKE CONCAT('%', #{searchMap.title}, '%')
                </if>
                <if test="searchMap.category != '' and searchMap.category != null">
                    AND HELP_CATEGORY_CODE LIKE CONCAT('%', #{searchMap.category}, '%')
                </if>
                <if test="searchMap.result != '' and searchMap.result != null">
                    AND RESULT LIKE CONCAT('%', #{searchMap.result}, '%')
                </if>
                <if test="searchMap.writer != '' and searchMap.writer != null">
                    AND WRITER_ID LIKE CONCAT('%', #{searchMap.writer}, '%')
                </if>
            </if>
        </where>
    </select>
    <select id="getInquiryList">
        SELECT * FROM (
        SELECT
        ROW_NUMBER() OVER (ORDER BY INQUIRY_NO DESC) AS RNUM,
        A.*
        FROM (
        SELECT *
        FROM TB_INQUIRY
        <where>
            <if test="searchMap != null">
                <if test="searchMap.title != '' and searchMap.title != null">
                    AND TITLE LIKE CONCAT('%', #{searchMap.title}, '%')
                </if>
                <if test="searchMap.category != '' and searchMap.category != null">
                    AND HELP_CATEGORY_CODE LIKE CONCAT('%', #{searchMap.category}, '%')
                </if>
                <if test="searchMap.result != '' and searchMap.result != null">
                    AND RESULT LIKE CONCAT('%', #{searchMap.result}, '%')
                </if>
                <if test="searchMap.writer != '' and searchMap.writer != null">
                    AND WRITER_ID LIKE CONCAT('%', #{searchMap.writer}, '%')
                </if>
            </if>
        </where>
        ) AS A
        LEFT JOIN TB_HELP_CATEGORY AS HC ON A.HELP_CATEGORY_CODE = HC.HELP_CATEGORY_CODE
        ) AS SubQuery
        WHERE RNUM BETWEEN  #{pageDto.start} AND #{pageDto.end}
    </select>

    <select id="inquiryDetail">
        SELECT I.*, C.CATEGORY_NAME FROM TB_INQUIRY I left join tb_help_category C on C.HELP_CATEGORY_CODE = I.HELP_CATEGORY_CODE WHERE INQUIRY_NO = #{inquiryNo}
    </select>

    <insert id="inquiryResultWrite">
        INSERT INTO TB_INQUIRY_RESULT (CONTENT,INQUIRY_NO) VALUES (#{content}, #{inquiryNo})
    </insert>

    <select id="getCurrentInquiryResultNo">
        SELECT INQUIRY_RESULT_NO
        FROM TB_INQUIRY_RESULT
        ORDER BY INQUIRY_RESULT_NO DESC
            LIMIT 1
    </select>

    <update id="inquiryResultChange">
        UPDATE TB_INQUIRY SET
            RESULT = #{result}
        WHERE INQUIRY_NO = #{inquiryNo}
    </update>

    <select id="inquiryResultDetail">
        SELECT * FROM TB_INQUIRY_RESULT WHERE INQUIRY_NO = #{inquiryNo}
    </select>

    <select id="questionListCount">
        SELECT COUNT(*) AS CNT
        FROM TB_QUESTION
        <where>
            <if test="searchMap != null">
                <if test="searchMap.title != '' and searchMap.title != null">
                    AND TITLE LIKE CONCAT('%', #{searchMap.title}, '%')
                </if>
                <if test="searchMap.category != '' and searchMap.category != null">
                    AND HELP_CATEGORY_CODE LIKE CONCAT('%', #{searchMap.category}, '%')
                </if>
            </if>
        </where>
    </select>

    <select id="getQuestionList">
        SELECT * FROM (
        SELECT
        ROW_NUMBER() OVER (ORDER BY QUESTION_NO DESC) AS RNUM,
        A.*
        FROM (
        SELECT *
        FROM TB_QUESTION
        <where>
            <if test="searchMap != null">
                <if test="searchMap.title != '' and searchMap.title != null">
                    AND TITLE LIKE CONCAT('%', #{searchMap.title}, '%')
                </if>
                <if test="searchMap.category != '' and searchMap.category != null">
                    AND HELP_CATEGORY_CODE LIKE CONCAT('%', #{searchMap.category}, '%')
                </if>
            </if>
        </where>
        ) AS A
        LEFT JOIN TB_HELP_CATEGORY AS HC ON A.HELP_CATEGORY_CODE = HC.HELP_CATEGORY_CODE
        ) AS SubQuery
        WHERE RNUM BETWEEN  #{pageDto.start} AND #{pageDto.end}
    </select>

    <delete id="inquiryDelete">
        DELETE FROM TB_INQUIRY WHERE INQUIRY_NO = #{inquiryNo}
    </delete>

    <update id="inquiryUpdate">
        UPDATE TB_INQUIRY SET
          TITLE = #{title},
          HELP_CATEGORY_CODE = #{helpCategoryCode},
          CONTENT = #{content}
        WHERE INQUIRY_NO = #{inquiryNo}
    </update>

    <insert id="questionInsert">
        INSERT INTO TB_QUESTION (HELP_CATEGORY_CODE, QUESTION_CONTENT, ANSWER_CONTENT)
        VALUES (#{helpCategoryCode}, #{questionContent}, #{answerContent})
    </insert>

    <delete id="questionDelete">
        DELETE FROM TB_QUESTION WHERE QUESTION_NO = #{questionNo}
    </delete>

    <update id="questionUpdate">
        UPDATE TB_QUESTION SET
            HELP_CATEGORY_CODE = #{helpCategoryCode},
            QUESTION_CONTENT = #{questionContent},
            ANSWER_CONTENT = #{answerContent}
        WHERE QUESTION_NO = #{questionNo}
    </update>
</mapper>
