<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.happytails.help.model.dao.HelpMapper">

    <select id="helpCategorySelectList">
        SELECT * FROM TB_HELP_CATEGORY
    </select>

    <insert id="inquiryInsert">
        INSERT INTO TB_INQUIRY (HELP_CATEGORY_CODE, WRITER_ID, TITLE, CONTENT)
        VALUES (#{helpCategoryCode}, #{writerId}, #{title}, #{content})
    </insert>

    <select id="getCurrentInquiryNo">
        SELECT INQUIRY_NO
        FROM TB_INQUIRY
        ORDER BY INQUIRY_NO DESC
        LIMIT 1
    </select>

    <select id="questionList">
        SELECT *
        FROM tb_question
        <where>
            <choose>
                <when test="categoryCode != null">
                    AND HELP_CATEGORY_CODE = #{categoryCode}
                </when>
                <otherwise>
                    AND HELP_CATEGORY_CODE = 'HEL-001'
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="inquiryListCount">
        SELECT COUNT(*) AS CNT
        FROM TB_INQUIRY
        <where>
            <if test="pageDto.searchValue == 'title' and pageDto.keyword != null">
                AND TITLE LIKE CONCAT('%', #{pageDto.keyword}, '%')
            </if>
            <if test="categoryCode != null">
                AND HELP_CATEGORY_CODE = #{categoryCode}
            </if>
        </where>
    </select>
    <select id="getInquiryList">
        SELECT * FROM (
        SELECT
        ROW_NUMBER() OVER (ORDER BY INQUIRY_NO DESC) AS RNUM,
        A.*
        FROM (
        SELECT *
        FROM TB_INQUIRY
        <where>
            <if test="pageDto.searchValue == 'title' and pageDto.keyword != null">
                AND TITLE LIKE CONCAT('%', #{pageDto.keyword}, '%')
            </if>
            <if test="categoryCode != null">
                AND HELP_CATEGORY_CODE = #{categoryCode}
            </if>
        </where>
        ) AS A
        LEFT JOIN TB_HELP_CATEGORY AS HC ON A.HELP_CATEGORY_CODE = HC.HELP_CATEGORY_CODE
        ) AS SubQuery
        WHERE RNUM BETWEEN  #{pageDto.start} AND #{pageDto.end}
    </select>
</mapper>
