
<!--
    이 페이지는 사용자가 비밀번호를 변경할 수 있는 폼을 제공하고,
    사용자가 아이디, 이메일, 새로운 비밀번호를 입력하여 해당 id의 비밀번호를 변경함
-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <title>비밀번호 변경</title>
</head>
<body>
<menu th:replace="~{fragments/head :: menu}"></menu>
<main>
    <div class="container mt-5">
        <h2 class="text-center mb-5">비밀번호 변경</h2>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 mx-auto">
                <form id="findUserPwdForm">
                    <div class="mb-3">
                        <label for="id" class="form-label">아이디</label>
                        <input type="text" class="form-control" id="id" name="id" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">이메일</label>
                        <input type="email" class="form-control" id="email" name="email" required placeholder="example@domain.com">
                        <div id="emailError" class="text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">새 비밀번호</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                        <div id="passwordError" class="text-danger"></div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">비밀번호 변경</button>
                </form>
                <div class="text-center mt-3">
                    <button class="btn btn-primary w-100" style="border-color: #5c636a; background-color: #5c636a;" onclick="location.href='/member/login'">취소</button>
                </div>
            </div>
        </div>
    </div>
</main>


<!--
    아래의 스크립트는 비밀번호 변경 폼의 제출을 처리하는 기능인데,
    사용자가 입력한 정보를 서버로 전송 -> 비밀번호 변경 결과에 따라 적절한 메시지를 표시
-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#findUserPwdForm').submit(function(event) {
            event.preventDefault();

            // 이메일 유효성 검사
            const email = $('#email').val();
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailRegex.test(email)) {
                $('#emailError').text('올바른 이메일 형식이 아닙니다.');
                return;
            } else {
                $('#emailError').text('');
            }

            // 비밀번호 유효성 검사
            const newPassword = $('#newPassword').val();
            const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{4,13}$/;
            if (!passwordRegex.test(newPassword)) {
                alert('비밀번호는 4~13자의 영문자와 숫자 조합이어야 합니다.');
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/member/changePassword',
                data: JSON.stringify({
                    id: $('#id').val(),
                    email: email,
                    newPassword: newPassword
                }),
                contentType: 'application/json',
                success: function(response) {
                    alert("비밀번호가 성공적으로 변경되었습니다.");
                    window.location.href = '/member/login';
                },
                error: function(xhr, status, error) {
                    alert('비밀번호 변경에 실패했습니다.');
                }
            });
        });
    });
</script>
</body>
</html>