
<!--
    이 페이지는 로그인 폼을 제공하여
    사용자가 아이디, 비밀번호를 입력하여 로그인할 수 있으며,
    아이디 찾기, 비밀번호 변경, 회원가입 링크를 통해 각 페이지로 이동할 수 있음
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!--    <link rel="stylesheet" href="/css/member/login.css">-->
    <title>HappyTails</title>
    <style>
        h5 {
            color: red;
        }

        div>button, input[type=submit] {
            width: 200px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<br>
<h1 align="center">HappyTails</h1>

<br><br>
<Br>
<div align="center">
    <form action="/member/login" method="post" id="loginForm">
        <table>
            <tr>
                <td>
                    <div class="input-group mb-3 input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width:120px">아이디</span>
                        </div>
                        <input type="text" class="form-control" name="username"><!-- 시큐리티에서는 반드시 username(소문자)으로 name값 설정 , 시큐리티 내부에서 만들어놓은 핸들러 메소드를 사용하기 때문-->
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group mb-3 input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width:120px">비밀번호</span>
                        </div>
                        <input type="password" class="form-control" name="password"><!-- 시큐리티에서는 반드시 password(소문자)으로 name값 설정 -> 필터가 자동으로 "username"이라는 이름의 파라미터를 찾아 처리.-->
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <div>
        <input type="submit" value="login">
        <br>
        <a href="/member/findUserIdForm"><button type="button">아이디 찾기</button></a>
        <br>
        <a href="/member/findUserPwdForm"><button type="button">비밀번호 변경</button></a>
        <br>
        <a href="/member/signup"><button type="button">회원가입</button></a>

    </div>


<!--
    아래의 스크립트는 로그인 폼을 처리하는 기능인데,
    페이지를 읽어올 때 아이디 입력 필드에 포커스를 주고
    로그인 버튼 클릭 시 입력된 내용을 제출
-->

    <script>
        $(function(){
            $("input[name=username]").focus(); // 아이디 입력 필드에 초기 포커스

            $("input[type=submit]").click(function(){
                $("#loginForm").submit(); // 로그인 버튼 클릭 시 폼 제출
            });
        })
    </script>
</div>
</body>
</html>