<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Game Gather</title>
    <style>
        h5 {
            color: red;
        }

        div>button, input[type=submit] {
            width: 200px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<br>
<h1 align="center">Game Gather</h1>

<br><br>
<Br>
<div align="center">
    <form action="/member/login" method="post" id="loginForm">
        <table>
            <tr>
                <td>
                    <div class="input-group mb-3 input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width:120px">아이디</span>
                        </div>
                        <input type="text" class="form-control" name="username">
                        <!-- 시큐리티에서는 반드시 username(소문자)으로 name값 설정 , 시큐리티 내부에서 만들어놓은 핸들러 메소드를 사용하기 때문-->
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group mb-3 input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width:120px">비밀번호</span>
                        </div>
                        <input type="password" class="form-control" name="password">
                        <!-- 시큐리티에서는 반드시 password(소문자)으로 name값 설정 -->
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <div>
        <input type="submit" value="login">
        <br>
        <a href="/member/signup"><button type="button">Sign Up</button></a>
        <br>
    </div>

    <script>
        $(function(){
            $("input[name=userId]").focus();

            $("input[type=submit]").click(function(){
                $("#loginForm").submit();
            });
        })
    </script>

</div>
</body>
</html>