
<!--
    이 페이지는 회원의 마이페이지를 표시해 주는 페이지로,
    회원의 프로필 이미지, 이름을 보여주며
    구매 목록, 사업자 등록, 회원정보 수정, 회원탈퇴의 기능을 접근할 수 있게 하는 페이지
-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <title>마이페이지</title>
</head>
<body>
<menu th:replace="~{fragments/head :: menu}"></menu>
<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mx-auto text-center">
            <img th:if="${profileImage != null and profileImage.storedFileName != null}"
                 th:src="@{/images/P/{file}(file=${profileImage.storedFileName})}"
                 alt="profile"
                 class="profile-image"
                 style="width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            padding: 5px;
            border: 2px solid #fff;
            box-sizing: border-box;">
            <h3 id="name" class="mb-4"></h3>
            <div class="d-grid gap-2">
                <button id="purchase-history" class="btn btn-primary">구매 목록</button>
                <button id="business-signup" class="btn btn-primary">사업자 등록</button>
                <button id="member-info" class="btn btn-primary">회원정보수정</button>
                <button id="delete-account" class="btn btn-danger">회원탈퇴</button>
            </div>
        </div>
    </div>
</main>

<!--
    아래의 스크립트는 마이페이지의 동적 기능을 처리하며,
    페이지를 읽어올 때 현재 사용자 정보를 가져와 표시하고
    각 버튼 클릭 시 이벤트를 처리를 위한 코드
-->

<script>
    $(document).ready(function() {
        $.ajax({
            url: '/member/getCurrentUser',
            method: 'GET',
            success: function(data) {
                // $('#profile-img').attr('src', '/member/profile-img/' + data.profileIMG);
                $('#name').text(data.name);
            }
        });

        // $('#purchase-history').click(function() {
        //     window.location.href = '/member/purchase';
        // });

        $('#business-signup').click(function() {
            window.location.href = '/member/businessSignUp';
        });

        $('#member-info').click(function() {
            window.location.href = '/member/memberinfo';
        });

        $('#delete-account').click(function() {
            if(confirm('계정 삭제를 원하십니까?')) {
                $.ajax({
                    url: '/member/deleteMemberAccount',
                    method: 'POST',
                    success: function(response) {
                        alert('계정 삭제를 성공했습니다.');
                        window.location.href = '/';
                    },
                    error: function(error) {
                        alert('계정 삭제 실패.');
                    }
                });
            }
        });

    });
</script>
</body>
</html>