
<!--
    이 페이지는 회원가입 폼을 제공하고,
    사용자가 프로필 이미지, 아이디, 비밀번호, 이름, 닉네임, 나이, 성별, 전화번호의
    정보를 입력하여 새로운 계정을 생성할 수 있음
-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <title>회원가입</title>
</head>

<style>
    .photo-placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        cursor: pointer;
        margin: 0 auto; /* 가운데 정렬 */
    }
</style>

<body>
<menu th:replace="~{fragments/head :: menu}"></menu>
<main>
    <div class="container mt-5">
        <h1 class="text-center mb-5">회원가입</h1>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 mx-auto">
                <form action="/member/signup" method="post" enctype="multipart/form-data" id="signupForm">
                    <div class="mb-3">
                        <div class="photo-placeholder" id="photo-placeholder">🐶</div>
                    </div>
                    <div class="mb-3">
                        <label for="id" class="form-label">아이디</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="id" name="id" required>
                            <button type="button" class="btn btn-secondary" id="checkIdButton">중복 확인</button>
                        </div>
                        <span id="idCheckResult" class="form-text"></span>
                        <div id="idError" class="text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">비밀번호</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                        <div id="passwordError" class="text-danger"></div>
                        <p style="color: gray; font-size: 14px;">4~13자의 영문자와 숫자 조합</p>
                    </div>
                    <div class="mb-3">
                        <label for="passwordCheck" class="form-label">비밀번호 확인</label>
                        <input type="password" class="form-control" id="passwordCheck" name="passwordCheck" required>
                        <div id="passwordCheckError" class="text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">이메일</label>
                        <input type="email" class="form-control" id="email" name="email" required placeholder="example@domain.com">
                        <div id="emailError" class="text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">이름</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="nickname" class="form-label">닉네임</label>
                        <input type="text" class="form-control" id="nickname" name="nickname" required maxlength="20" placeholder="한글 또는 영문+숫자 조합 (20자 이내)">
                        <div id="nicknameError" class="text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="gender" class="form-label">성별</label>
                        <select class="form-select" id="gender" name="gender" required>
                            <option value="M">남성</option>
                            <option value="F">여성</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="tel" class="form-label">전화번호</label>
                        <input type="text" class="form-control" id="tel" name="tel" required placeholder="010-0000-0000">
                        <div id="telError" class="text-danger"></div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">회원가입</button>
                </form>
                <div class="text-center mt-3">
                    <button class="btn btn-primary w-100" style="border-color: #5c636a; background-color: #5c636a;" onclick="location.href='/member/login'">취소</button>
                </div>
            </div>
        </div>
    </div>
</main>

<!--
    아래의 스크립트는 회원가입을 할 때
    아이디 중복 확인, 폼 제출 시 아이디 중복 확인 여부를 검사하는 기능에 대한 코드
    또한 아이디 입력 필드의 값이 변경될 때마다 중복 확인 상태를 초기화
-->

<script>
    $(document).ready(function () {
        var isIdChecked = false;

        // 아이디 유효성 검사 함수
        function validateId(id) {
            return /^[a-zA-Z0-9_]{4,20}$/.test(id);
        }

        $('#id').on('input', function () {
            var id = $(this).val();
            isIdChecked = false;
            $('#idCheckResult').text('');

            if (validateId(id)) {
                $('#idError').text('');
                $('#checkIdButton').prop('disabled', false);
            } else {
                $('#idError').text('아이디는 4글자 이상 20글자 이하로 가능하며, 영문자, 숫자, 밑줄(_)만 사용 가능합니다.');
                $('#checkIdButton').prop('disabled', true);
            }
        });

        $('#checkIdButton').click(function () {
            var id = $('#id').val();
            if (!validateId(id)) {
                $('#idError').text('유효하지 않은 아이디입니다.');
                return;
            }

            $.ajax({
                url: '/member/checkIdDuplicate',
                type: 'POST',
                data: {id: id},
                success: function (response) {
                    $('#idCheckResult').text(response);
                    if (response === "사용 가능한 아이디입니다.") {
                        isIdChecked = true;
                        $('#idCheckResult').css('color', 'green');
                    } else {
                        isIdChecked = false;
                        $('#idCheckResult').css('color', 'red');
                    }
                },
                error: function () {
                    alert('서버 오류가 발생했습니다.');
                    isIdChecked = false;
                }
            });
        });

        const password = $('#password');
        const passwordCheck = $('#passwordCheck');
        const passwordCheckError = $('#passwordCheckError');
        let isPasswordMatch = false;

        function validatePasswords() {
            if (password.val() === '' && passwordCheck.val() === '') {
                passwordCheckError.text('').removeClass('text-danger text-success');
                isPasswordMatch = false;
            } else if (password.val() !== passwordCheck.val()) {
                passwordCheckError.text('비밀번호가 일치하지 않습니다.').removeClass('text-success').addClass('text-danger');
                isPasswordMatch = false;
            } else {
                passwordCheckError.text('비밀번호가 일치합니다.').removeClass('text-danger').addClass('text-success');
                isPasswordMatch = true;
            }
            return isPasswordMatch;
        }

        passwordCheck.on('input', validatePasswords);
        password.on('input', validatePasswords);

        $('#signupForm').submit(function (e) {
            e.preventDefault();

            var id = $('#id').val();
            if (!validateId(id)) {
                $('#idError').text('유효하지 않은 아이디입니다.');
                return;
            }

            if (!isIdChecked) {
                alert('아이디 중복 확인을 해주세요.');
                return;
            }

            // 비밀번호 유효성 검사
            var password = $('#password').val();
            var passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{4,13}$/;
            if (!passwordRegex.test(password)) {
                $('#passwordError').alert("비밀번호를 확인해주세요")
                return;
            } else {
                $('#passwordError').text('');
            }

            // 비밀번호 확인 검사
            if (!validatePasswords()) {
                $('#passwordCheckError').text('비밀번호가 일치하지 않습니다.').removeClass('text-success').addClass('text-danger');
                return;
            }

            // 이메일 유효성 검사
            const email = $('#email').val();
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailRegex.test(email)) {
                $('#emailError').text('올바른 이메일 형식이 아닙니다.');
                return;
            } else {
                $('#emailError').text('');
            }

            // 닉네임 유효성 검사
            var nickname = $('#nickname').val();
            var nicknameRegex = /^([가-힣]{1,10}|[a-zA-Z0-9]{1,10})$/;
            if (!nicknameRegex.test(nickname)) {
                $('#nicknameError').text('닉네임은 한글 또는 영문+숫자 조합으로 10글자 이내로 작성해야 합니다.');
                return;
            } else {
                $('#nicknameError').text('');
            }

            // 전화번호 유효성 검사
            var tel = $('#tel').val();
            var telRegex = /^010-\d{4}-\d{4}$/;
            if (!telRegex.test(tel)) {
                $('#telError').text('올바른 전화번호 형식이 아닙니다. (예: 010-0000-0000)');
                return;
            } else {
                $('#telError').text('');
            }

            // 이메일 중복 체크
            $.ajax({
                url: '/member/checkEmailDuplicate',
                type: 'POST',
                data: {email: email},
                success: function (response) {
                    if (response === true) {
                        alert("이메일 중복. 다른 이메일을 작성해주세요.");
                        $('#email').focus();
                        return;
                    } else {
                        // 이메일 중복이 아닌 경우에만 폼을 제출합니다.
                        $('#signupForm')[0].submit();
                    }
                },
                error: function () {
                    alert("이메일 중복 확인 중 오류가 발생했습니다.");
                }
            });
        });

        // 전화번호 입력 시 자동으로 하이픈('-') 추가
        $('#tel').on('input', function () {
            var number = $(this).val().replace(/[^0-9]/g, "");
            var tel = "";

            if (number.length < 4) {
                return number;
            } else if (number.length < 7) {
                tel += number.substr(0, 3);
                tel += "-";
                tel += number.substr(3);
            } else if (number.length < 11) {
                tel += number.substr(0, 3);
                tel += "-";
                tel += number.substr(3, 3);
                tel += "-";
                tel += number.substr(6);
            } else {
                tel += number.substr(0, 3);
                tel += "-";
                tel += number.substr(3, 4);
                tel += "-";
                tel += number.substr(7);
            }
            $(this).val(tel);
        });
    });

    // 이미지 업로드 처리
    document.getElementById('photo-placeholder').addEventListener('click', function () {
        var input = document.createElement('input');
        input.type = 'file';
        input.accept = 'image/*';
        input.name = "file";
        input.id = "file";
        input.style.display = 'none';
        input.onchange = function (event) {
            var file = event.target.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                var img = document.createElement('img');
                img.src = e.target.result;
                img.style.width = '100%';
                img.style.height = '100%';
                img.style.objectFit = 'cover';
                document.getElementById('photo-placeholder').innerHTML = '';
                document.getElementById('photo-placeholder').appendChild(img);
            }
            reader.readAsDataURL(file);
            $('#signupForm').append(input);
        }
        input.click();
    });
</script>
</body>
</html>