<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.happytails.patrol.model.dao.PatrolDAO">

    <insert id="patrolInsert">
        INSERT INTO tb_patrol
        ( user_no, name, age, breed, location)
        VALUES(#{userNo}, #{name}, #{age}, #{breed}, #{location})
    </insert>

    <select id="findAllPatrol">
        SELECT patrol_no AS patrolNo, user_no AS userNo, name, age, breed, location
        FROM tb_patrol
    </select>

    <select id="findOnePatrol">
        SELECT patrol_no AS patrolNo, user_no AS userNo, name, age, breed, location
        FROM tb_patrol
        WHERE user_no = #{userNo} AND name = #{name}
    </select>

    <select id="findOnePatrolByPatrolNo">
        SELECT patrol_no AS patrolNo, user_no AS userNo, name, age, breed, location
        FROM tb_patrol
        WHERE patrol_no = #{patrolNo};
    </select>

    <update id="patrolUpdate">
        UPDATE tb_patrol
        SET  name=#{name}, age=#{age}, breed=#{breed}, location=#{location}
        WHERE patrol_no=#{patrolNo};
    </update>

    <delete id="patrolDelete">
        DELETE FROM tb_patrol
        WHERE patrol_no=#{patrolNo};
    </delete>



</mapper>
