<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.happytails.patrol.model.dao.PatrolPlaceDAO">

    <insert id="patrolPlaceInsert">
        INSERT INTO tb_precord_place
        (patrol_no, precord_total)
        VALUES( #{patrolNo}, #{precordTotal})
    </insert>

    <select id="findPatrolNo">
        SELECT patrol_no AS patrolNo
        FROM tb_patrol
        WHERE user_no = #{userNo}
    </select>

    <select id="findLastPlaceNo">
        SELECT precord_place_no
        FROM tb_precord_place
        WHERE patrol_no = #{patrolNo}
        ORDER BY precord_place_no DESC
        LIMIT 1
    </select>

    <select id="findAllPrecordPlace">
        SELECT precord_place_no AS precordPlaceNo, precord_no AS precordNo, patrol_no AS patrolNo, precord_total AS precordTotal
        FROM tb_precord_place
        WHERE patrol_no = #{patrolNo}
    </select>

    <delete id="deletePlace">
        DELETE FROM tb_precord_place
        WHERE precord_place_no = #{precordPlaceNo};
    </delete>


    <insert id="precordPlaceHistoryInsert">
        INSERT INTO tb_precord_place_history
        ( precord_place_no, longitude, latitude)
        VALUES( #{precordPlaceNo}, #{longitude}, #{latitude})
    </insert>


    <select id="findNonSelectedPrecourdPlace">
        SELECT precord_place_no AS precordPlaceNo, precord_no AS precordNo, patrol_no AS patrolNo, precord_total AS precordTotal
        FROM tb_precord_place
        WHERE precord_no IS NULL AND patrol_no = #{patrolNo};
    </select>

    <select id="findPrecordPlaceNoByPrecordNo">
        SELECT precord_place_no AS precordPlaceNo, precord_no AS precordNo, patrol_no AS patrolNo, precord_total AS precordTotal
        FROM tb_precord_place
        WHERE precord_no = #{precordNo};
    </select>

    <delete id="precordPlaceHistoryDelete">
        DELETE FROM tb_precord_place_history
        WHERE precord_place_no= #{precordPlaceNo}
    </delete>

    <update id="updatePrecordNo">
        UPDATE tb_precord_place
        SET precord_no= #{precordNo}
        WHERE precord_place_no= #{precordPlaceNo}
    </update>

    <update id="updatePrecordNoNULL">
        UPDATE tb_precord_place
        SET precord_no= NULL
        WHERE precord_place_no= #{precordPlaceNo}
    </update>

    <select id="findOnePrecordPlaceByPrecordNo">
        SELECT precord_place_no AS precordPlaceNo, precord_no AS precordNo, patrol_no AS patrolNo, precord_total AS precordTotal
        FROM tb_precord_place
        WHERE precord_no = #{precordNo};
    </select>

</mapper>
