<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DBTI</title>
</head>
<body>
<h1>DBTI</h1>

<form action="/survey/submit" method="post">
    <div>
        <p>우리 반려견은 자기가 사람인 줄 안다</p>
        <input type="radio" name="question1" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question1" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question1" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question1" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question1" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question1" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>다른 개와 잘 어울린다</p>
        <input type="radio" name="question2" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question2" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question2" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question2" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question2" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question2" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>반려견이 싫어하는 행동을 계속 하면 물려고 한다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>다른 강아지를 만나면 보호자 뒤로 숨으려고 한다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>우리 집에 다른 강아지가 올 수 있다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>어떤 낯선 곳에 가더라도 겁먹지 않고 냄새를 맡으며 탐색한다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>나의 반려견을 누구나 만질 수 있다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>다른 개와 장난감을 공유한다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>간식을 손에 쥐고 있으면 흥분한다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>사람들을 보면 줄당김이 심하다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>낯선 환경에서 부르면 간식이 있을 때만 온다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>다른 개와 놀고 있을 때 부르면 모른 척 한다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>사람들을 보면 줄당김이 심하다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>보호자나 다른 개와 터그놀이를 한다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>마운팅을 자주 한다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <button type="submit">다음으로</button>
</form>
</body>
</html>