<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DBTI</title>
</head>
<body>
<h1>DBTI</h1>

<form action="/survey/submit" method="post">
    <div>
        <p>이름을 부르면 온다</p>
        <input type="radio" name="question1" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question1" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question1" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question1" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question1" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question1" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>반려견 혼자 못 있는다</p>
        <input type="radio" name="question2" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question2" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question2" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question2" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question2" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question2" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>위협을 받았을 때 맞서 싸우려고 한다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>집 안에서 엎드리는 장소가 정해져 있다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>손님이 오면 경계 또는 공격한다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>움직이는 물체를 보고 달려든다 (오토바이, 자전거, 고양이 등)</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>낯선 장소에서도 쉽게 엎드린다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>나는 내 반려견을 컨트롤 할 수 있다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>먹이, 간식이나 장난감을 지킨다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>나를 귀찮게 한다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>차 안에서 혼자 못 앉아있는다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>문이 열리면 혼자 나간다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>다른 개에게 정면으로 다가간다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>우리 강아지는 개를 싫어하는 편이다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>소파나 침대 위에 자주 올라가 있는다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <button type="submit">제출</button>
</form>
</body>
</html>