<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DBTI</title>
</head>
<body>
<h1>DBTI</h1>

<form action="/survey/submit" method="post">
    <div>
        <p>반려견 앞에서 다른 개에게 간식을 줄 수 있다</p>
        <input type="radio" name="question1" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question1" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question1" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question1" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question1" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question1" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>다른 사람이 만져 주는 것을 좋아한다</p>
        <input type="radio" name="question2" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question2" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question2" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question2" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question2" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question2" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>내 반려견은 잘 안 짖는 편이다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>다른 개를 보면 줄당김이 심하다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>다른 개에게 뽀뽀를 많이 한다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>간식이 없으면 기다려가 전혀 안 된다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>집에 사람이 오면 너무 반긴다 (희뇨, 껑충껑충, 빙글빙글, 멍멍 등)</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>어딜 가든 대소변을 잘 본다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>내 반려견은 낯선장소에서도 활기차고 항상 움직이는 편이다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>놀이에 냉담하거나 무심하다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>내 반려견이 다른 반려견 앞에서 배를 자주 드러내는 편이다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>애견 카페나 운동장에서 혼자 돌아다니며 논다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>산책할 때 낯선사람에게 공격적인 모습을 보인다 (조깅하는 사람, 어린이, 노인 등)</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>산책할 때 매우 흥분을 한다.</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>낯선 사람이 주는 간식을 먹지 않는다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <button type="submit">제출</button>
</form>
</body>
</html>