<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DBTI</title>
</head>
<body>
<h1>DBTI</h1>

<form action="/survey/submit" method="post">
    <div>
        <p>다른 강아지와 놀 때 먼저 놀자고 하거나 함께 뛰어다니며 노는 편이다</p>
        <input type="radio" name="question1" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question1" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question1" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question1" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question1" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question1" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>보호자 옆에만 있는다 / 졸졸졸 따라다닌다</p>
        <input type="radio" name="question2" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question2" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question2" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question2" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question2" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question2" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>땅에 떨어져 있는 음식을 주워 먹는다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>다른 강아지가 냄새를 맡으려고 하면 차분히 맡게 해준다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>잠 잘때 건드리면 다른 장소로 이동한다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>낯선 장소에서는 아무것도 먹지 않는다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>혼자 장난감을 가지고 노는 것을 좋아한다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>놀이에 쉽게 싫증낸다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>자극에 쉽게 흥분한다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>외부에서 마킹을 많이 한다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>다른 강아지를 만나면 무조건 냄새를 맡으려고 한다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>장난감을 던지면 반응이 없다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>차 안에서 바깥을 보고 짖는다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>야외에서 반려견을 잠시 묶어놓으면 차분하게 기다린다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <div>
        <p>간식을 받으면 이동해서 먹는다</p>
        <input type="radio" name="question3" value="전혀 아니에요"> 전혀 아니에요<br>
        <input type="radio" name="question3" value="거의 안그래요"> 거의 안그래요<br>
        <input type="radio" name="question3" value="아닌편 이에요"> 아닌편 이에요<br>
        <input type="radio" name="question3" value="어쩌다 한번 그래요"> 어쩌다 한번 그래요<br>
        <input type="radio" name="question3" value="자주 그래요"> 자주 그래요<br>
        <input type="radio" name="question3" value="항상 그래요"> 항상 그래요<br>
    </div>
    <button type="submit">제출</button>
</form>
</body>
</html>