<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>강아지 정보 저장 완료</title>
</head>
<body>

<p>강아지 정보를 확인해 주세요</p>
<p>다견 가정일 경우 다른 반려견도 추가할 수 있어요</p>

<h2>입력한 정보</h2>
<p>이름: <span th:text="${dog.name}"></span></p>
<p>품종: <span th:text="${dog.breed}"></span></p>
<p>생년월일: <span th:text="${dog.birthdate}"></span></p>
<p>성별: <span th:text="${dog.gender}"></span></p>

<div id="startDBTI">
    <form action="/DBTI/dog/dbti" method="get">
        <button type="submit">DBTI 하러가기</button>
    </form></div></div>
<div id="again">
    <form action="/DBTI/dog/start" method="get">
        <button type="submit">다른 강아지 추가하기</button>
    </form>
</div>
</body>
</html>