<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <style>
        .table-img {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
    </style>
</head>
<body class="bg-light">
<menu th:replace="fragments/head :: menu"></menu>
<main>
    <div class="container my-5">
        <h1 class="mb-4 text-center">판매 상품 목록</h1>
        <div class="card shadow">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-dark">
                        <tr>
                            <th>상품명</th>
                            <th>대표 이미지</th>
                            <th>가격</th>
                            <th>수량</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cartList : ${cartList}">
                            <td>
                                <a th:href="@{/sales/selectGoods(no=${cartList.goodsNo})}"
                                   th:text="${cartList.goodsName}"
                                   class="text-decoration-none"></a>
                            </td>
                            <td>
<!--                                <div th:if="${cartList[cartList.goodsNo].size() > 0}" class="card-body">-->
<!--                                    <img th:src="@{/images/S/{file}(file=${salesGoodsMap[cartList.goodsNo][0].storedFileName})}" alt="대표 이미지" class="img-fluid" width="300" height="200">-->
<!--                                </div>-->
                            </td>
                            <td th:text="${#numbers.formatCurrency(cartList.price)}" class="price"></td>
                            <td th:text="${cartList.purchaseQuantity}" class="purchaseQuantity"></td>
                        </tr>
                        </tbody>
                    </table>
                    <table>
                            <tr>예상 결제 금액 : </tr>
                            <tr th:text="${#numbers.formatCurrency(#aggregates.sum(cartList.![price]))} + '원' " id="amount"></tr>
                            <tr><a href="/payment/payment" class="btn btn-primary w-100 mb-3">결제하기</a></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</main>

</body>
<footer th:replace="fragments/head :: footer"></footer>
</html>