<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <style>
        .table-img {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
    </style>
</head>
<body>
<menu th:replace="fragments/head :: menu"></menu>
<main>
    <div class="container my-5">
        <h1 class="mb-4 text-center">장바구니</h1>
        <div class="card shadow">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-dark">
                        <tr>
                            <th>대표 이미지</th>
                            <th>상품명</th>
                            <th>가격</th>
                            <th>수량</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cartList : ${cartList}">
                            <td>
                                <div th:if="${cartMap[cartList.goodsNo].size() > 0}">
                                    <img th:src="@{/images/S/{file}(file=${cartMap[cartList.goodsNo][0].storedFileName})}" alt="대표 이미지" class="img-fluid" width="100" height="100">
                                </div>
                            </td>
                            <td>
                                <a th:href="@{/sales/selectGoods(no=${cartList.goodsNo})}"
                                   th:text="${cartList.goodsName}"
                                   class="text-decoration-none"></a>
                            </td>
                            <td th:text="${#numbers.formatCurrency(cartList.price)}" class="price"></td>
                            <td th:text="${cartList.purchaseQuantity}" class="purchaseQuantity"></td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <div class="card mx-auto" style="width: 50%; min-width: 300px;">
                        <div class="card-body  text-center">
                            <p>예상 결제 금액</p>
                            <p th:text="${#numbers.formatCurrency(#aggregates.sum(cartList.![price * purchaseQuantity]) ?: 0)} + '원'" id="amount"></p>
                            <p><a href="/payment/payment" class="btn btn-primary">결제하기</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>

</body>
<footer th:replace="fragments/head :: footer"></footer>
</html>