<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.happytails.shop.model.dao.PaymentDAO">

    <resultMap id="PaymentpageResultMap"
               type="com.multi.happytails.shop.model.dto.PaymentpageDTO">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="productname" property="productname"/>
        <result column="productinfo" property="productinfo"/>
        <result column="date_created" property="date_created"/>
        <result column="productprice" property="productprice"/>
        <result column="im_port_id" property="imPortId"/>
    </resultMap>

    <resultMap id="OrderlistResultMap"
               type="com.multi.happytails.shop.model.dto.OrderlistDTO">
        <result column="payment_no" property="payment_no"/>
        <result column="username" property="username"/>
        <result column="productname" property="productname"/>
        <result column="productinfo" property="productinfo"/>
        <result column="date_created" property="date_created"/>
        <result column="purchaseprice" property="purchaseprice"/>
        <result column="im_port_id" property="imPortId"/>
        <result column="goodsNo" property="goodsNo"/>
        <result column="delivery_code" property="delivery_code"/>
    </resultMap>

    <resultMap id="memberResultMap" type="com.multi.happytails.member.model.dto.MemberDTO">
        <id column="USER_NO" property="no" />
        <result column="USER_ID" property="id" />
        <result column="USER_PASSWORD" property="pwd" />
        <result column="USER_EMAIL" property="email" />
        <result column="USER_NAME" property="name" />
        <result column="USER_NICKNAME" property="nickname" />
        <result column="USER_GENDER" property="gender" />
        <result column="USER_TEL" property="tel" />
        <result column="USER_SIGNUP_DATE" property="signupDate" />
        <result column="USER_DELETE_ACCOUNT_DATE" property="deleteDate" />
        <!--        <result column="USER_DELETE_ACCOUNT" property="deleteAccount" />-->
        <result column="USER_DELETE_ACCOUNT_FLAG" property="deleteAccountFlag" />
        <result column="USER_ROLE" property="role" />
        <result column="USER_PROFILE_IMAGE" property="profileImage" />
        <result column="USER_BIRTHDAY" property="birthday" />
        <result column="USER_BIRTHYEAR" property="birthyear" />
    </resultMap>

    <select id="selectpaymentpage" resultMap="PaymentpageResultMap">
        SELECT * FROM paymentpage
        WHERE username = #{username}
    </select>

    <insert id="insertPayment" parameterType="com.multi.happytails.shop.model.dto.PaymentDTO">
        INSERT INTO payment (
        username,
        productname,
        productinfo,
        productprice,
        purchaseprice,
        date_created,
        im_port_id,
        DELIVERY_CODE,
        goodsNo,
        address,
        request
        ) VALUES (
        #{username},
        #{productname},
        #{productinfo},
        #{productprice},
        #{purchaseprice},
        NOW(),  <!-- 현재 시간을 자동으로 삽입 -->
        #{imPortId},
        'P',
        #{goodsNo},
        #{address},
        #{request}
        )
    </insert>

    <select id="selectOrders" resultMap="OrderlistResultMap">
        SELECT payment_no, username, productname, productinfo, date_created, purchaseprice, im_port_id, goodsNo, invoice_number, delivery_man, address, request,
        CASE delivery_code
        WHEN 'P' THEN '배송 준비'
        WHEN 'D' THEN '배송 중'
        WHEN 'S' THEN '배송 완료'
        WHEN 'C' THEN '환불 대기'
        WHEN 'R' THEN '환불 완료'
        WHEN 'B' THEN '구매 완료'
        END AS delivery_code
        FROM payment
        WHERE username = #{id}
        ORDER BY date_created DESC
    </select>

    <insert id="insertPaymentItems" parameterType="com.multi.happytails.shop.model.dto.PaymentDTO">
        INSERT INTO payment_items (
        payment_no,
        goods_no,
        goods_name,
        purchase_quantity,
        price
        )
        VALUES
        <foreach collection="cartItems" item="item" separator=",">
            (
            #{payment_no},
            #{item.goodsNo},
            #{item.goodsName},
            #{item.purchaseQuantity},
            #{item.price}
            )
        </foreach>
    </insert>

    <resultMap id="paymentDetailsResultMap" type="com.multi.happytails.shop.model.dto.PaymentDTO">
        <id property="payment_no" column="payment_no"/>
        <result property="username" column="username"/>
        <result property="productname" column="productname"/>
        <result property="productinfo" column="productinfo"/>
        <result property="productprice" column="productprice"/>
        <result property="purchaseprice" column="purchaseprice"/>
        <result property="date_created" column="date_created"/>
        <result property="refund" column="refund"/>
        <result property="imPortId" column="im_port_id"/>
        <result property="refund_date" column="refund_date"/>
        <result property="delivery_code" column="delivery_code"/>
        <result property="goodsNo" column="goodsNo"/>
        <result property="invoice_number" column="invoice_number"/>
        <result property="delivery_man" column="delivery_man"/>
        <result property="address" column="address"/>
        <result property="request" column="request"/>
        <collection property="cartItems" ofType="com.multi.happytails.shop.model.dto.CartDTO">
            <result property="goodsNo" column="goods_no"/>
            <result property="goodsName" column="goods_name"/>
            <result property="purchaseQuantity" column="purchase_quantity"/>
            <result property="price" column="price"/>
        </collection>
    </resultMap>

    <select id="getPaymentDetails" resultMap="paymentDetailsResultMap">
        SELECT p.*, pi.goods_no, pi.goods_name, pi.purchase_quantity, pi.price
        FROM payment p
        LEFT JOIN payment_items pi ON p.payment_no = pi.payment_no
        WHERE p.im_port_id = #{imPortId}
    </select>

    <update id="updateRefundStatus" parameterType="com.multi.happytails.shop.model.dto.OrderlistDTO">
        UPDATE payment
        SET refund = 'Y',
        refund_date = NOW(),
        delivery_code = 'R'
        WHERE payment_no = #{paymentNo}
    </update>
    <select id="paymentList" resultMap="paymentDetailsResultMap">
        SELECT payment_no, username, productname, productinfo, date_created, purchaseprice, im_port_id, goodsNo,  invoice_number, delivery_man, address, request,
        CASE delivery_code
        WHEN 'P' THEN '배송 준비'
        WHEN 'D' THEN '배송 중'
        WHEN 'S' THEN '배송 완료'
        WHEN 'C' THEN '환불 대기'
        WHEN 'S' THEN '환불 완료'
        WHEN 'B' THEN '구매 완료'
        END AS delivery_code
        FROM payment
        WHERE username = #{username}
    </select>

    <update id="updatePartialRefundStatus">
        UPDATE payment
        SET refund = 'Y',
        refund_date = NOW()
        WHERE payment_no = #{paymentNo}
    </update>

    <select id="getPaymentByNo" resultMap="paymentDetailsResultMap">
        SELECT *
        FROM payment
        WHERE payment_no = #{paymentNo}
    </select>

    <update id="updateDelivery" parameterType="com.multi.happytails.shop.model.dto.PaymentDTO">
        UPDATE PAYMENT
        SET
        DELIVERY_CODE = 'C'
        WHERE
        PAYMENT_NO = #{payment_no}
    </update>

    <update id="paymentPurchaseDelivery" parameterType="com.multi.happytails.shop.model.dto.PaymentDTO">
        UPDATE PAYMENT
        SET
        DELIVERY_CODE = 'B'
        WHERE
        PAYMENT_NO = #{payment_no}
    </update>

    <update id="deliveryState">
        UPDATE payment
        SET delivery_code = #{delivery_code}
        WHERE payment_no = #{paymentNo}
    </update>

    <update id="insertDelivery" parameterType="com.multi.happytails.shop.model.dto.PaymentDTO">
        UPDATE payment
        SET delivery_man = #{delivery_man},
        invoice_number = #{invoice_number},
        DELIVERY_CODE = 'D'
        WHERE payment_no = #{payment_no}
    </update>

    <update id="stateSuccess" parameterType="com.multi.happytails.shop.model.dto.PaymentDTO">
        UPDATE payment
        SET delivery_code = 'S'
        WHERE payment_no = #{payment_no}
    </update>

    <update id="updateCartItemQuantity" parameterType="com.multi.happytails.shop.model.dto.CartDTO">
        UPDATE cart
        SET purchase_quantity = #{purchaseQuantity}
        WHERE id = #{id} AND goods_no = #{goodsNo}
    </update>

    <select id="paymentHistoryDetails" resultMap="paymentDetailsResultMap">
        SELECT payment_no, username, productname, productinfo, date_created, purchaseprice, im_port_id, goodsNo,  invoice_number, delivery_man, address, request,
        CASE delivery_code
        WHEN 'P' THEN '배송 준비'
        WHEN 'D' THEN '배송 중'
        WHEN 'S' THEN '배송 완료'
        WHEN 'C' THEN '환불 대기'
        WHEN 'S' THEN '환불 완료'
        WHEN 'B' THEN '구매 완료'
        END AS delivery_code
        FROM payment
        WHERE username = #{username} AND im_port_id = #{imPortId}
    </select>

</mapper>