<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

    <title>Title</title>

</head>

<style>
    .imgSquare{
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
	    align-items : center;

	    gap: 1% 1%;

        background-color: black;
        width: 1000px;
        height: 600px;
    }

    .imgSquareVertical{
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
	    align-items : center;

	    gap: 2% 3%;

        background-color: black;
        width: 600px;
        height: 1000px;
    }

    .imgLine{

        display: flex;
        flex-wrap: wrap;

        justify-content: center;
        align-items: center;

        background-color: black;
        width: 400px;
        height: 800px;
    }

    .imgDivSquare{
        position : relative;
        width: 42.5%;
        height: 47.5%;
        background-color: white;
    }

    .imgDivSquareVerticalTop{
        position : relative;
        width: 42.5%;
        height: 40%;
        background-color: white;
        align-self : flex-end;
    }

    .imgDivSquareVerticalBot{
        position : relative;
        width: 42.5%;
        height: 40%;
        background-color: white;
        align-self : flex-start;
    }

    .imgDivLine{
        position : relative;
        width: 90%;
        height: 22.5%;
        background-color: white;
    }

    .cutImg{
	display:block;
	width:100%;
	height:100%;
	pointer-events : none;
    }

    .fileInputTotal{
        display: flex;
    }

    #captureWrap{
        position : relative;
        width: 1000px;
        overflow:auto;
    }


</style>

<body>

<menu th:replace="fragments/head :: menu"></menu>

<main class="container mt-5">

    <div>

        <h1 class="mb-4 text-center">🎞견생네컷 생성📷</h1>
        <h3 class="mb-4 text-center">🐶반려견과의 소중한 순간을 꾸며보세요🐾</h3>
        <div class="card w-75 mx-auto">
            <div class="card-body">
    <div class="fileInputTotal" id="" style="margin: 3%;">
        <div class="">
            <input class="form-control" style="display:none;" type="file" id="inputFile1" name="inputFile1" onchange="setThumbnail(event);">
        </div>
        <div class="">
            <input class="form-control" style="display:none;" type="file" id="inputFile2" name="inputFile2" onchange="setThumbnail(event);">
        </div>
        <div class="">
            <input class="form-control" style="display:none;" type="file" id="inputFile3" name="inputFile3" onchange="setThumbnail(event);">
        </div>
        <div class="">
            <input class="form-control" style="display:none;" type="file" id="inputFile4" name="inputFile4" onchange="setThumbnail(event);" >
        </div>

<!--        <div>-->
<!--            <button id="inputBtn" class="btn btn-secondary" onclick="inputChange(); this.blur();">이미지 입력</button>-->
<!--            <label id="inputLabel"></label>-->
<!--        </div>-->
    </div>




        <div class="d-flex justify-content-center">
            <div id="captureWrap">
                <div class="imgSquare" id="capture">
                    <div class="imgDivSquare" id="inputFile1Div">사진1</div>
                    <div class="imgDivSquare" id="inputFile2Div">사진2</div>
                    <div class="imgDivSquare" id="inputFile3Div">사진3</div>
                    <div class="imgDivSquare" id="inputFile4Div">사진4</div>
                </div>
            </div>
        </div>


    <div class="d-flex justify-content-center bg-white border rounded" style="margin: 3%;padding: 2%;">
        <div class="" style="width : 18%;">
            <div style="margin: 3%;">
                <div>
                    <label>사진배치</label>
                    <select class="" id="arrangementSelect" name="">
                        <option value="imgSquare" selected>네모나게(가로)</option>
                        <option value="imgSquareVertical">네모나게(세로)</option>
                        <option value="imgLine">일자로</option>
                    </select>
                </div>

                <div>
                    <label for="backgroundColorPicker">배경색 설정:</label>
                    <input type="color" id="backgroundColorPicker">
                </div>
            </div>
            <button class="btn btn-light border" id="styleChangeButton" onclick="styleChange(); this.blur();" style="margin: 3%;">스타일 변경</button>
            <button class="btn btn-light border" onclick="styleReset(); this.blur();" style="margin: 3%;">꾸미기취소</button>
        </div>

        <div style="width : 30%;">
            <label>스티커 추가</label>
            <input class="form-control" type="file" id="inputFile" name="inputFile" style="width : 100%;">
            <button class="btn btn-light  border" id="addStickerBtn" name="addStickerBtn" onclick="addSticker(); this.blur();">스티커추가</button>

            <div  class="mb-3" id="image_container">
                <!-- 이미지 들어가는곳 -->
            </div>
        </div>

        <div style="width : 30%;">
            <label>프레임 변경</label>

            <input class="form-control" type="file" id="inputFileFrame" name="inputFileFrame" style="width : 100%;">
            <div>
                <button class="btn btn-light  border" id="addFrameBtn" name="addFrameBtn" onclick="addFrame(); this.blur();">프레임 변경</button>
                <button class="btn btn-light  border" id="removeFrameBtn" name="removeFrameBtn" onclick="removeFrame(); this.blur();">취소</button>
            </div>

            <div  class="mb-3" id="frame_container">
                <!-- 이미지 들어가는곳 -->
            </div>
        </div>
        <div style="width : 18%;">
            <label>사진 흑백필터</label><br>
            <button class="btn btn-light  border" id="grayscaleBtn" name="grayscaleBtn" onclick="addGrayscale(); this.blur();">사진흑백으로</button>
            <button class="btn btn-light border" id="removeGrayscaleBtn" name="removeGrayscaleBtn" onclick="removeGrayscale(); this.blur();">취소</button>
        </div>
    </div>


    <div class="d-flex" style="margin: 3%;">
        <div>
            <button class="btn btn-light border" id="downloadButton">다운로드</button>
        </div>
        &emsp;
        <div>
            <button class="btn btn-light border" id="saveToServerButton">업로드</button>
        </div>

    </div>


    </div>
        </div>
    </div>
</main>

<menu th:replace="fragments/head :: footer"></menu>

<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

<script>



    var stickerFlag = 0;
    var frameFlag = 0;
    var frameLoadFlag = 0;
    var frameSrc;
    var frameImage;

    var inputFlag = 0;

    var lastStiker = 0;

    let captureDiv = document.getElementById('capture');
    let downloadButton = document.getElementById('downloadButton');
    let saveToServerButton = document.getElementById('saveToServerButton');

    var className;

    $('#inputFile1Div').click(function(){
        if(stickerFlag == 0) {
            $('#inputFile1').click();
        }
    });

    $('#inputFile2Div').click(function(){
        if(stickerFlag == 0) {
            $('#inputFile2').click();
        }
    });

    $('#inputFile3Div').click(function(){
        if(stickerFlag == 0) {
            $('#inputFile3').click();
        }
    });

    $('#inputFile4Div').click(function(){
        if(stickerFlag == 0) {
            $('#inputFile4').click();
        }
    });


    captureDiv.addEventListener('click', (e) => {

        //클릭 좌표
        console.log(e.offsetX + " , " + e.offsetY);

        console.log(e.target.id);
        console.log(e.target.nodeName.toLowerCase());
        var targetTag = e.target.nodeName.toLowerCase();

        if(inputFlag == 1){
            if(e.target.id == "inputFile1Div"){
                $('#inputFile1').click();
            }
            else if(e.target.id == "inputFile2Div"){
                $('#inputFile2').click();
            }
            else if(e.target.id == "inputFile3Div"){
                $('#inputFile3').click();
            }
            else if(e.target.id == "inputFile4Div"){
                $('#inputFile4').click();
            }
        }
        else{
            if(stickerFlag == 1){
                x = e.offsetX - 50;
                y = e.offsetY - 50;
                var $sticker = $("#stickerImg" + lastStiker).clone();

                $sticker.attr('class', 'stickerImg');
                $sticker.css("position", "absolute");
                $sticker.css("left", x + "px");
                $sticker.css("top", y + "px");
                $sticker.css("z-index", "1");
                $sticker.css("pointer-events", "none"); //클릭 이벤트 타겟에서 제외

                if(targetTag == "img"){
                    $sticker.appendTo(e.target.parentElement);
                }
                else{
                    $sticker.appendTo(e.target);
                }

                stickerFlag = 0;
            }
        }
    });

    function inputChange(){
        if(inputFlag == 0){
            inputFlag = 1;
            $('#inputLabel').text("사진 입력중");
        }
        else{
            inputFlag = 0;
            $('#inputLabel').text("");
        }
    }



    downloadButton.addEventListener('click', () => {
        if(inputCheck()){
            html2canvas(captureDiv).then(canvas => {
            saveImg(canvas.toDataURL('image/jpg'), 'image.jpg');
            });
        }
    });

    saveToServerButton.addEventListener('click', () => {
        if(inputCheck()){
            public = '';

            public = 'N';

            html2canvas(captureDiv).then(canvas => {
            var imgDataUrl = canvas.toDataURL('image/jpg');

            var blobBin = atob(imgDataUrl.split(',')[1]);	// base64 데이터 디코딩
            var array = [];
            for (var i = 0; i < blobBin.length; i++) {
                array.push(blobBin.charCodeAt(i));
            }
            var file = new Blob([new Uint8Array(array)], {type: 'image/jpg'});	// Blob 생성
            const fileName = 'canvas_img_' + new Date().getMilliseconds() + '.jpg'; // 임시 파일명
            var formdata = new FormData();	// formData 생성
            formdata.append("file", file , fileName);	// file data 추가
            formdata.append("publicstate", public);

            $.ajax({
                type : 'post',
                url : '/dog4cuts/dog4CutsInsert',
                data : formdata,
                processData : false,
                contentType : false,
                success : function (data) {
                    if(confirm("이미지저장완료. 만든 이미지를 확인하시겠습니까?")){
                        location.replace("/dog4cuts/dog4cutsview");
	                }else{

	                }
                }
            });
        });

        }
    });

    const saveImg = (uri, filename) => {
        let link = document.createElement('a');

        document.body.appendChild(link);

        link.href = uri;
        link.download = filename;
        link.click();

        document.body.removeChild(link);

        alert('이미지 저장완료');
    };

    //파일 선택시 표시
    function setThumbnail(eventInput) {
        let divId = eventInput.target.id + "Div";

        console.log(divId);

        console.log('실행');
            var file = event.target.files[0];
            if (file && file.type.startsWith('image/')) {
                var reader = new FileReader();
                reader.onload = function(e) {

                $('#' + divId).empty();
                $('#' + divId).append('<img src="' + e.target.result + '" alt="Selected Image" class="cutImg">');

                }
            reader.readAsDataURL(file);
            }
            else {
                alert('이미지 파일을 선택해주세요');
            }
    }

    //이미지 스타일 변경
    function styleChange() {

        $(".stickerImg").remove();


        var color = $("#backgroundColorPicker").val();
        $("#capture").css("background-color", color);

        var arrangement = $("#arrangementSelect").val();

        if(arrangement == "imgSquare"){
            $("#capture").attr('class', 'imgSquare');
            $("#capture").children().attr('class', 'imgDivSquare');
        }
        else if(arrangement == "imgLine"){
            $("#capture").attr('class', 'imgLine');
            $("#capture").children().attr('class', 'imgDivLine');
        }
        else if(arrangement == "imgSquareVertical"){
            $("#capture").attr('class', 'imgSquareVertical');
            $("#inputFile1Div").attr('class', 'imgDivSquareVerticalTop');
            $("#inputFile2Div").attr('class', 'imgDivSquareVerticalTop');
            $("#inputFile3Div").attr('class', 'imgDivSquareVerticalBot');
            $("#inputFile4Div").attr('class', 'imgDivSquareVerticalBot');
        }

        $('#capture').css({'background-image':'url()'});
        frameLoadFlag = 0;
        className = $('#capture').attr('class');

    }

    //꾸미기취소
    function styleReset() {

        $(".stickerImg").remove();

        $(".cutImg").css("filter", "grayscale(0)");
        $('#capture').css({'background-image':'url()'});
        frameLoadFlag = 0;
        className = $('#capture').attr('class');

    }

    function inputCheck() {
        var fileCheck1 = $('#inputFile1').val();
        var fileCheck2 = $('#inputFile2').val();
        var fileCheck3 = $('#inputFile3').val();
        var fileCheck4 = $('#inputFile4').val();
        if(!fileCheck1 || !fileCheck2 || !fileCheck3 || !fileCheck4){
            alert("파일을 첨부해 주세요");

            return false;
        }
        else{
            return true;
        }
    }

    //스티커 사진 변경
    $('#inputFile').on('change', function(event) {
            event.stopPropagation();
            lastStiker += 1;

            console.log('실행');
            var file = event.target.files[0];
            if (file && file.type.startsWith('image/')) {
                var reader = new FileReader();
                reader.onload = function(e) {
                $('#image_container').empty();
                $('#image_container').append('<img src="' + e.target.result + '" alt="Selected Image" id="stickerImg' + lastStiker + '" width="100px" height="100px">');
                }
            reader.readAsDataURL(file);
            }
            else {
                alert('이미지 파일을 선택해주세요');
            }
    });

    //프레임 사진 변경
    $('#inputFileFrame').on('change', function(event) {
            console.log('실행');
            var file = event.target.files[0];
            if (file && file.type.startsWith('image/')) {
                var reader = new FileReader();
                reader.onload = function(e) {
                $('#frame_container').empty();
                $('#frame_container').append('<img src="' + e.target.result + '" width="100px" height="100px">');

                frameSrc = e.target.result;
                frameFlag = 1;
                }
            reader.readAsDataURL(file);
            }
            else {
                alert('이미지 파일을 선택해주세요');
            }
    });

    //스티커 플래그
    function addSticker() {
        stickerFlag = 1;
    }

    function addFrame() {
        var frameCheck = $('#inputFileFrame').val();
         if(frameCheck){
            className = $('#capture').attr('class');

            console.log("className >> " + className);

            frameImage = new Image();
            frameImage.src = frameSrc;

            frameImage.addEventListener('load', function() {
                frameLoadFlag = 1;
            });

            if(frameLoadFlag == 1){
                console.log(frameImage.width + " , " + frameImage.height);

                $('#capture').css({'background-image':'url('+ frameSrc +')'});

            }
            else if(frameLoadFlag == 0){
                alert('이미지 로딩중입니다. 잠시만 기다려주세요.');
            }
         }
    }

    function removeFrame() {
        $('#capture').css({'background-image':'url()'});
    }

    function addGrayscale() {
        $(".cutImg").css("filter", "grayscale(100%)");
    }

    function removeGrayscale() {
        $(".cutImg").css("filter", "grayscale(0)");
    }
</script>

</body>
</html>