<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <title>구매 상품 목록</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .table-img {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
    </style>
</head>

<body>
<menu th:replace="~{fragments/head :: menu}"></menu>
<main>
    <div class="container  my-5">

        <figure class="text-center">
            <h2>구매 상품 목록</h2>
        </figure>
        <div th:if="${not #lists.isEmpty(paymentHistory)}" class="card shadow">
            <div class="card-body paymentHistory-item">
                <div class="paymentHistory-info table-responsive">
                    <table class="table table-hover">
                        <thead class="table-dark">
                        <tr>
                            <th>구매 상품</th>
                            <th>결제 금액</th>
                            <th>결제일</th>
                            <th>배송 상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  th:each="paymentHistory : ${paymentHistory}" th:data-username="${paymentHistory.username}">
                            <th th:text="${paymentHistory.productinfo}"></th>
                            <th th:text="'가격: ' + ${paymentHistory.purchaseprice} + '원'"></th>
                            <th th:text="${#dates.format(paymentHistory.date_created, 'yyyy-MM-dd')}"></th>
                            <th th:text="${paymentHistory.refund == 'Y' ? '환불 상품' : '결제 상품'}"></th>
                        </tr>
                        <tr th:if="${#lists.isEmpty(paymentHistory)}">
                            주문 정보가 없습니다.
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="paymentHistory-actions">

                </div>
            </div>
        </div>



        <div class="pagination"></div>
    </div>
</main>
</body>
<footer th:replace="fragments/head :: footer"></footer>
</html>