<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.happytails.community.model.dao.DogloveDAO">

    <select id="findAll" parameterType="String" resultType="com.multi.happytails.community.model.dto.DogloveDTO">
        SELECT
        DOGLOVE_NO AS dogloveNo,
        USER_ID AS userId,
        TITLE AS title,
        CONTENT AS content,
        CATEGORY_CODE AS categoryCode,
        CREATETIME AS createTime,
        UPDATETIME AS updateTime,
        RECOMMEND_COUNT AS recommendCount
        FROM TB_DOGLOVE
        <choose>
            <when test="parameter == 'recommendCount'">
                ORDER BY RECOMMEND_COUNT DESC
            </when>
            <otherwise>
                ORDER BY CREATETIME DESC
            </otherwise>
        </choose>
    </select>


    <select id="findById" parameterType="long" resultType="com.multi.happytails.community.model.dto.DogloveDTO">
        SELECT
        DOGLOVE_NO AS dogloveNo,
        USER_ID AS userId,
        TITLE AS title,
        CONTENT AS content,
        CATEGORY_CODE AS categoryCode,
        CREATETIME AS createTime,
        UPDATETIME AS updateTime,
        RECOMMEND_COUNT AS recommendCount
        FROM TB_DOGLOVE
        WHERE DOGLOVE_NO = #{dogloveNo}
    </select>

    <insert id="dogloveInsert" parameterType="com.multi.happytails.community.model.dto.DogloveDTO">
        INSERT INTO TB_DOGLOVE (
        USER_ID,
        TITLE,
        CONTENT,
        CREATETIME,
        UPDATETIME,
        RECOMMEND_COUNT,
        CATEGORY_CODE
        ) VALUES (
        #{userId},
        #{title},
        #{content},
        #{createTime},
        #{updateTime},
        #{recommendCount},
        #{categoryCode}
        )
    </insert>


    <update id="update" parameterType="com.multi.happytails.community.model.dto.DogloveDTO">
        UPDATE TB_DOGLOVE SET
        TITLE = #{title},
        CONTENT = #{content},
        CATEGORY_CODE = #{categoryCode},
        UPDATETIME = #{updateTime},
        RECOMMEND_COUNT = #{recommendCount}
        WHERE DOGLOVE_NO = #{dogloveNo}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM TB_DOGLOVE WHERE DOGLOVE_NO = #{dogloveNo}
    </delete>

    <select id="getCurrentDogloveNo">
        SELECT DOGLOVE_NO
        FROM TB_DOGLOVE
        ORDER BY DOGLOVE_NO DESC
        LIMIT 1
    </select>

    <!-- 추천 수 증가 -->
    <update id="incrementRecommendCount">
        UPDATE TB_DOGLOVE
        SET RECOMMEND_COUNT = RECOMMEND_COUNT + 1
        WHERE DOGLOVE_NO = #{dogloveNo}
    </update>

    <!-- 추천 수 감소 -->
    <update id="decrementRecommendCount">
        UPDATE TB_DOGLOVE
        SET RECOMMEND_COUNT = RECOMMEND_COUNT - 1
        WHERE DOGLOVE_NO = #{dogloveNo}
    </update>
</mapper>
