<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>중심좌표 변경 이벤트 등록하기</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a76def1c0c0dd8e389a263fe93ef2974"></script>
</head>
<body>
<div id="map" style="width:100%;height:350px;"></div>
<p><em>지도 중심좌표가 변경되면 지도 정보가 표출됩니다</em></p>
<p id="result"></p>

<select name="serchplace" id="serchplace">
    <option value="동물병원">동물병원</option>
    <option value="도보여행">산책로</option>
    <option value="애견카페">애견카페</option>
    <option value="반려동물미용">반려동물미용</option>
</select>

<select name="radius" id="radius">
    <option value="1000">1Km</option>
    <option value="5000">5Km</option>
    <option value="10000">10Km</option>
    <option value="15000">15Km</option>
    <option value="20000">20Km</option>
</select>

<button id="btnserch">검색</button>
<input type="hidden" id="hidden_lat" value="">
<input type="hidden" id="hidden_lng" value="">

<div class="placediv" id="placediv">

</div>


<script>
    setLocation();

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 지도가 이동, 확대, 축소로 인해 중심좌표가 변경되면 마지막 파라미터로 넘어온 함수를 호출하도록 이벤트를 등록합니다
    kakao.maps.event.addListener(map, 'center_changed', function() {

        // 지도의  레벨을 얻어옵니다
        var level = map.getLevel();

        // 지도의 중심좌표를 얻어옵니다
        var latlng = map.getCenter();

        var message = '<p>지도 레벨은 ' + level + ' 이고</p>';
        message += '<p>중심 좌표는 위도 ' + latlng.getLat() + ', 경도 ' + latlng.getLng() + '입니다</p>';

        var resultDiv = document.getElementById('result');
        resultDiv.innerHTML = message;

        //지도 중심 좌표
        var latitude = latlng.getLat();
        var longitude = latlng.getLng();

    });

    function setLocation() {
    navigator.geolocation.getCurrentPosition(function (position){

        lat = position.coords.latitude;
        lng = position.coords.longitude;

        $('#hidden_lat').val(lat);
        $('#hidden_lng').val(lng);
    }, function (){
        Swal.fire({
            icon: 'question',
            html: '위치 정보를 가져올 수 없습니다.<br>위치 정보 허용을 해주세요.',
        })
    });
    }

    $(document).ready(function(){
    $("#btnserch").click(function(){

        $('#placediv').empty();

        radius = $("#radius option:selected").val();
        serchplace = $("#serchplace option:selected").val();

        sendlng = $('#hidden_lng').val();
        sendlat = $('#hidden_lat').val();

        var sendurl = 'https://dapi.kakao.com/v2/local/search/keyword.json?page=1&size=15&sort=distance&query='+ serchplace +'&x='+ sendlng +'&y=' + sendlat + '&radius=' + radius;

        $.ajax({
        type:'get',
        url: sendurl,
        headers : { "content-type": "application/json;charset=UTF-8" ,
                    "Authorization": "KakaoAK deb4b4140bda0ec4e616e869d79da2e2"  },
        success : function(data){
            var placelist = data.documents;

            for(let index in placelist){

                $('#placediv').append(
                    $('<div>').prop({
                        id: 'place' + index,
                        className: 'place'
                        }).attr("onclick", "")
                    );
                    $('#' + 'place' + index).append(
                        '<b>' + placelist[index].place_name + '</b><br>'
                    );
                    $('#' + 'place' + index).append(
                        '<sub>' + placelist[index].road_address_name + '</sub><br>'
                    );
                    $('#' + 'place' + index).append(
                        '<sub>' + placelist[index].phone + '</sub>'
                    );
            }

        },
        error   : function(){ alert("error") } // 에러가 발생했을 때, 호출될 함수
        }); // $.ajax()
        alert("the request is sent")
        });
    });
</script>
</body>
</html>