<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

    <title>장소찾기</title>

</head>

<body class="container mt-5">

<menu th:replace="fragments/head :: menu"></menu>

<main>
<h1 class="mb-4">멍지도</h1>


<div id="map" style="width:100%;height:350px;"></div>

<select class="form-select" name="serchplace" id="serchplace">
    <option value="동물병원">동물병원</option>
    <option value="도보여행">산책로</option>
    <option value="애견카페">애견카페</option>
    <option value="반려동물미용">반려동물미용</option>
</select>

<select class="form-select" name="radius" id="radius">
    <option value="1000">1Km</option>
    <option value="5000">5Km</option>
    <option value="10000">10Km</option>
    <option value="15000">15Km</option>
    <option value="20000">20Km</option>
</select>

<button class="btn btn-info" id="btnserch">검색</button>
<input type="hidden" id="hidden_lat" value="">
<input type="hidden" id="hidden_lng" value="">

<div class="placediv" id="placediv">

</div>

</main>

<!-- Kakao Map API -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a76def1c0c0dd8e389a263fe93ef2974"></script>

<script>
    setLocation();

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
        var mapTypeControl = new kakao.maps.MapTypeControl();

        // 지도 타입 컨트롤을 지도에 표시합니다
        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

    $(document).ready(function(){

        $("#btnserch").click(function(){

            $('#placediv').empty();

            radius = $("#radius option:selected").val();
            serchplace = $("#serchplace option:selected").val();

            sendlng = $('#hidden_lng').val();
            sendlat = $('#hidden_lat').val();

            var sendurl = 'https://dapi.kakao.com/v2/local/search/keyword.json?page=1&size=15&sort=distance&query='+ serchplace +'&x='+ sendlng +'&y=' + sendlat + '&radius=' + radius;

            $.ajax({
                type:'get',
                url: sendurl,
                headers : { "content-type": "application/json;charset=UTF-8" ,
                    "Authorization": "KakaoAK deb4b4140bda0ec4e616e869d79da2e2"  },
                success : function(data){


                var placelist = data.documents;

                for(let index in placelist){

                    $('#placediv').append(
                        $('<div>').prop({
                            id: 'place' + index,
                            className: 'card'
                            }).attr("onclick", "")
                        );

                    $('#' + 'place' + index).append(
                        $('<div>').prop({
                            id: 'divbody' + index,
                            className: 'card-body'
                        })
                    );

                    $('#' + 'divbody' + index).append(
                        '<b class="card-text">' + placelist[index].place_name + '</b><br>'
                    );
                    $('#' + 'divbody' + index).append(
                        '<sub class="card-text">' + placelist[index].road_address_name + '</sub><br>'
                    );
                    $('#' + 'divbody' + index).append(
                        '<sub class="card-text">' + placelist[index].phone + '</sub>'
                    );
                }

            },
            error   : function(){ alert("error") } // 에러가 발생했을 때, 호출될 함수
            }); // $.ajax()
        alert("the request is sent")

        }); // btnserch.click()

        homelat = $('#hidden_lat').val(); //위도
        homelng = $('#hidden_lng').val(); //경도

        // 이동할 위도 경도 위치를 생성합니다
        var moveLatLon = new kakao.maps.LatLng(homelat, homelng);

        // 지도 중심을 이동 시킵니다
        map.panTo(moveLatLon);

        // 지도 레벨 설정
        map.setLevel(10);

    });

    function setLocation() {
        navigator.geolocation.getCurrentPosition(function (position){

            lat = position.coords.latitude; // 위도
            lng = position.coords.longitude; // 경도

            $('#hidden_lat').val(lat);
            $('#hidden_lng').val(lng);
        }, function (){
            Swal.fire({
                icon: 'question',
                html: '위치 정보를 가져올 수 없습니다.<br>위치 정보 허용을 해주세요.',
            })
        });
    }
</script>
</body>
</html>